[2016-12-09 12:30] Sandertv opened #1 "Stuff to do for release"
Some things we have to do for the plugin to work properly:
- [x] Fix crash on startup, it's crashing with error `class Magicode\pureentities\PureEntities not found`
- [x] Create better issue/PR labels
- [x] Make a better name for the organization
- [x] Fix all console outputted errors
- [x] Set up gitter or a better IRC
- [x] Enable Poggit for auto compiling and lint checks
- [x] Configuration and

[2016-12-09 12:40] Magicode1 commented on #1
I think the Class might be a mistake in changing my name. I changed all of the 'Milk' paths in it to 'magicode' so I may have missed one

Does it give a location?

[2016-12-09 12:41] Sandertv commented on #1
Too bad it doesn't. I hoped changing the capital from the plugin.yml would fix it but it doesn't. It still gives the error with a capital M, so I think there's a capital letter somewhere.

[2016-12-09 12:42] Magicode1 commented on #1
Ohh, gotcha. I will look

[2016-12-09 12:43] Sandertv commented on #1
Maybe we could call the organisation something like RevivalPM, reviving cool plugins that have been abandoned.

[2016-12-09 12:45] Magicode1 commented on #1
Ooohhh I like that

[2016-12-09 12:46] Magicode1 commented on #1
Ima change the name right now

[2016-12-09 12:48] Sandertv commented on #1
I fixed the error in fact, got another one to go now :P

[2016-12-09 12:49] Magicode1 commented on #1
Lol, great job! I am making local changes, and pulling your changes down as fast as I can :)

I renamed the Organization

[2016-12-09 12:49] Sandertv commented on #1
Awesome :) There's a hidden milk somewhere around the BaseEntity.

[2016-12-09 12:49] Magicode1 commented on #1
Gotcha

[2016-12-09 12:51] Magicode1 commented on #1
I'm looking

[2016-12-09 12:52] Sandertv commented on #1
I found some milks! I got to go to school in 3 mins though xD

[2016-12-09 12:52] Sandertv commented on #1
For some reason it keeps creating forks when I try to edit though...

[2016-12-09 12:52] Magicode1 commented on #1
Lol, I am at school RN

[2016-12-09 12:53] Magicode1 commented on #1
Let me look at it

[2016-12-09 12:54] Magicode1 commented on #1
I invited you to Collaborate,

[2016-12-09 12:55] Sandertv commented on #1
Yep, it works now! I got the milks away :P

[2016-12-09 12:55] Sandertv commented on #1
I gotta head to school now, Cya in a couple hours!

[2016-12-09 13:05] Magicode1 commented on #1
Lol ok, have fun

[2016-12-09 13:08] Magicode1 opened #2 "Crashing Server When Trying to Spawn Mobs"
When I use a spawn egg, or use EntityManager (Another Plugin We should revive) the console throws the error:
`[10:16:30] [Server thread/INFO]: An unknown error occurred while attempting to perform this command
[10:16:30] [Server thread/CRITICAL]: Unhandled exception executing command 'em create Cow 0 0 0 world' in entitymanager: Undefined class constant 'DATA_NO_AI'
[10:16:30] [Server thread/CRITI

[2016-12-09 13:21] Magicode1 opened #3 "BlockBreakEvent Crashes server"
The `BlockBreakEvent` will sometimes throw fatal errors on the server. It's pretty much in danger of crashing whenever someone breaks a block.

That may be a tiny problem :-1:

[2016-12-09 13:21] Sandertv commented on #3
What are the errors that show up?

[2016-12-09 13:23] Sandertv commented on #2
Thank god I looked at the PocketMine entity meta data changes, if you can't fix it I think I can :)

[2016-12-09 13:24] Magicode1 commented on #3
I will copy it when I get home. I cant really test it on my laptop at school 😋

[2016-12-09 13:25] Magicode1 commented on #2
I guess I should probably look at them too, might help with a plugin dedicated solely to mobs 😃

[2016-12-09 13:27] Sandertv commented on #3
Same :P

[2016-12-09 13:31] Sandertv commented on #1
I feel like we're quite a good team 😃 We could actually make something happen :)

[2016-12-09 13:31] Sandertv commented on #1
I should get better at clicking at the comment button instead of close and comment though LOL.

[2016-12-09 13:51] Sandertv commented on #3
Okay I assume it is the last couple lines of code that error the server, because like you said they only show up sometimes and it has the mt_rand(1, 9) thing.

[2016-12-09 13:54] Magicode1 commented on #1
I made a Gitter room. It is ready to go. I also added buttons on the readme

[2016-12-09 13:57] Sandertv commented on #1
I saw! Thanks a lot!

[2016-12-09 14:32] Magicode1 opened #4 "Implement Slimes and Magma Cubes"
The Previous Author left a bunch of `//ToDo`s Under Slimes and Magma Cubes, and because of that they aren't implemented. We need to fill in the blanks and implement them. As of now they aren't even being registered.

[2016-12-09 14:34] Magicode1 opened #5 "AutoSpawnTask"
This task, which auto spawns mobs (Like Vanilla Minecraft), has another `//ToDo` under it. It is a huge part of the plugin, so we need to implement it

[2016-12-09 15:19] Magicode1 opened #6 "It still crashes my server :("
`[10:15:50] [Server thread/CRITICAL]: ParseError: "syntax error, unexpected end of file, expecting function (T_FUNCTION)" (EXCEPTION) in "/phar_PureEntitiesX-local-test1_dCzCVhypOIMRAeG.phar/src/magicode/pureentities/entity/monster/flying/Ghast" at line 87
[10:15:50] [Server thread/DEBUG]: #0 (): spl_autoload_call(string magicode\pureentities\entity\monster\flying\Ghast)
[10:15:50] [Server thread/

[2016-12-09 15:20] Magicode1 commented on #6
Looks like it's in /src/magicode/pureentities/entity/monster/flying/Ghast at line 87 I will try to fix

[2016-12-09 15:51] Sandertv commented on #6
Alrighty!

[2016-12-09 15:51] Sandertv commented on #5
Yep. I'll take care of it soon :)

[2016-12-09 15:53] Sandertv commented on #4
Yeah, we need to finish the JumpingEntity class for this.

[2016-12-09 16:03] Magicode1 commented on #5
Sweet, thanks

[2016-12-09 16:04] Sandertv commented on #6
Got it fixed! It works!

[2016-12-09 16:04] #6 closed

[2016-12-09 16:09] Magicode1 commented on #6
Sweet! Thanks

[2016-12-09 16:12] Sandertv opened #7 "Animals randomly teleporting miles away when using spawn eggs"
When using a spawn egg with an animal type, the animal teleports about 50 blocks away from the location where it got placed. This does not happen with monsters.

[2016-12-09 16:45] Sandertv opened #8 "Ageable flag container crash."
Currently using animals causes the server to crash.
[code]

[2016-12-09 17:00] Magicode1 commented on #3
Yeah, that would explain it

[2016-12-10 10:23] #8 closed

[2016-12-10 10:24] Sandertv commented on #3
Does this still happen?

[2016-12-10 10:24] Sandertv commented on #2
Fixed :)

[2016-12-10 10:24] #2 closed

[2016-12-10 10:33] Sandertv opened #9 "Entities never stop walking"
Spawned entities never stop walking. They tend to walk in one direction until they hit a block they can't walk past or find a target/get hit.

[2016-12-10 13:34] Sandertv opened #10 "Entities jump as far as needed to jump over a wall"
Spawned entities can not jump on 1 block high walls. Slabs and stairs are fine, but full blocks do not work at all.

[2016-12-10 14:17] Magicode1 commented on #3
Nope! I think it had something to do with the Silverfish. I still need to take the Spawning waaaaay down

They spawn like every 3 blocks! :)

[2016-12-10 14:23] Sandertv commented on #3
Yeah it's still kinda insane how often they spawn :P

[2016-12-10 14:51] Magicode1 commented on #3
Yeah, I enabled the plugin on my private server, and I instantly got player complaints about dying from massive silverfish spawns

[2016-12-10 14:52] Magicode1 commented on #3
Is it really necessary to have them spawn at all?

[2016-12-10 14:53] Sandertv commented on #3
Maybe make them only spawn on depths with very low Y?

[2016-12-10 15:49] Sandertv opened #11 "Configurable options for monster spawning?"
Should we add a config for things such as maximum monsters around player, despawntime (Oh! I got to add a task for that!) and such things? It could be cool to have an element of customization for users.

[2016-12-10 15:52] Magicode1 commented on #3
Yeah, that would probably be optimal

[2016-12-10 15:53] Magicode1 commented on #11
Yeah, definitely more customization than the pocketmine.yml .  Then, we can migrate that over if Pocketmine ever implements Mob AI, and make it a plugin where users can control the Pocketmine spawning!

[2016-12-10 16:08] Sandertv commented on #11
I guess we'll just save this for the next update! (after the release)

[2016-12-10 18:39] Sandertv opened #12 "Missing Entities"
I thought I'd make an issue to address all missing monsters and animals we still have to and can implement. Here's a list:
- [x] Guardian
- [x] Elder Guardian
- [x] Horse (and relatives)
- [x] Witch
- [x] Squid
- [x] Husk
- [x] Stray

If you think I missed any, please give an comment :)

[2016-12-10 18:40] Magicode1 commented on #12
Agreed. We should get these ASAP

[2016-12-10 18:41] Sandertv commented on #12
I'll go for a new SwimmingEntity class. That'll make squids and guardians easier!

[2016-12-10 18:43] Magicode1 commented on #12
Yes, and make sure to specify that a) they drown in air and b) that they only spawn in water, and not as often :)

[2016-12-10 18:43] Sandertv commented on #12
Yep. And for the guardians... They like jump when they're on land if I'm correct?

[2016-12-10 18:44] Magicode1 commented on #10
That's a problem. The only time I have seen them be able to hop a 1 block was when a pig glitched 20 blocks into the air :)

[2016-12-10 18:45] Magicode1 commented on #9
Yeah. And they eventually just walk away and never come back. We should also add a detection for drops so that they don't walk off cliffs and die :)

[2016-12-10 18:45] Magicode1 commented on #12
Yeah I think so. But do they actually spawn outside of temples?

[2016-12-10 18:46] Magicode1 commented on #7
That's weird. I have never seen this

[2016-12-10 18:47] Magicode1 commented on #11
Agreed.

[2016-12-10 18:47] Sandertv commented on #12
They should spawn around the temples... No natural spawning for them until PocketMine implements structure generation 😆

[2016-12-10 18:50] Magicode1 commented on #12
Yeah.

[2016-12-10 18:50] Magicode1 commented on #11
Ohh I just got an idea... what about the ability to summon bosses?

[2016-12-10 18:52] Sandertv commented on #11
The elder guardian is easily done, but the wither will be a little more work. Let's implement the normal mobs first and see how far we get :smile:

[2016-12-10 18:53] Sandertv commented on #7
Could you try to reproduce this too? Just click the ground with an animal spawn egg a couple times.

[2016-12-10 18:54] Sandertv commented on #9
Yep! Too right!

[2016-12-10 18:54] Magicode1 commented on #7
Just did. Nothing happened. They all spawned as normal and started walking around

[2016-12-10 18:54] Sandertv commented on #10
Yep. Hitting them allows them to get up blocks too.

[2016-12-10 18:55] Magicode1 commented on #11
Alright!

[2016-12-10 18:55] Sandertv commented on #7
Hm! Guess it just fixed itself then 😆

[2016-12-10 18:55] Magicode1 commented on #7
That's good!

[2016-12-10 18:57] Magicode1 opened #13 "Entities Sink In Water"
Entities don't swim. They sink to the bottom and die.

[2016-12-10 18:57] Magicode1 commented on #10
Ok, so we need an auto jump in the WalkingEntity ?

[2016-12-10 19:54] Sandertv commented on #10
Yep guess so!

[2016-12-10 21:44] Sandertv commented on #13
You'd almost feel for those poor zombies 😜

[2016-12-11 09:30] Sandertv commented on #3
Closing the issue as it is fixed, I like having a clean issues tab :P xD

[2016-12-11 09:30] #3 closed

[2016-12-11 17:38] caspervanneck opened #16 "Make wolfs tamable"
can you make the wolf temable

[2016-12-11 17:40] Sandertv commented on #16
We'll work on that soon. Right now we're prioritizing the generator and the jumping of the entities. 😄

[2016-12-11 17:41] caspervanneck commented on #16
good 👍

[2016-12-11 17:54] caspervanneck opened #17 "range where no monster can spawn"
plz add thad mij spawn is full mobs

or add that dont spawn with licht

[2016-12-11 17:55] Magicode1 commented on #17
They shouldn't spawn when it is light out. Are you using the latest version?

We will add spawn protection ASAP

[2016-12-11 17:56] caspervanneck commented on #17
yes i us latest version

[2016-12-11 17:57] caspervanneck commented on #17
@Magicode1

[2016-12-11 17:58] Magicode1 commented on #17
Ok. We will work on it. Expect it to be fixed soon :)

[2016-12-11 17:58] Sandertv commented on #17
It's currently a bug they spawn in light. I think getLightLevel() doesn't work properly in PM yet. I'll add a check if it's night in a sec.

[2016-12-11 17:59] caspervanneck commented on #17
oja my software is from pmmp zo must i use genisys

[2016-12-11 17:59] Magicode1 commented on #17
Nope! This is a plugin made for PMMP

[2016-12-11 18:00] Magicode1 commented on #17
Thanks for letting us know about the bug, we will fix it ASAP

[2016-12-11 18:00] Sandertv commented on #17
Nah it's PMMP focused. I think it doesn't work with third party softwares either.

[2016-12-11 18:05] Sandertv commented on #17
Try now @caspervanneck, they should now only spawn during the night. (From sunset till sunrise to be exact)

[2016-12-11 19:09] caspervanneck commented on #17
i cant test i need to sleep @Magicode1 @Sandertv

[2016-12-11 19:09] Sandertv commented on #17
Just tested and still doesn't seem to work... Hmmm.

[2016-12-11 21:26] #7 closed

[2016-12-11 21:26] Sandertv commented on #12
Ticked husks and strays :)

[2016-12-11 21:39] Magicode1 opened #18 "Passive Mobs not spawning"
Passive mobs are not spawning ever. It's just monsters.

[2016-12-11 21:40] Sandertv commented on #18
Yep I know, I still have to add a task for that. 😋
Once I merge the better entity generator I'll start working on that!

[2016-12-11 21:43] Magicode1 commented on #1
About the team thing, I really think we are a good team too! Revive some classics, make our own(maybe) plugins, LEGEND. Maybe.

[2016-12-11 21:44] Sandertv commented on #1
I agree! 😄

[2016-12-11 21:45] Magicode1 commented on #18
Sweet! I feel so bad not being able to do as much on the weekends, but the plugin is coming along nicely!

[2016-12-11 21:45] Magicode1 commented on #18
The bad thing is I am stuck on mobile for the most part, so I can really just comment and post issues..

[2016-12-11 21:45] Sandertv commented on #18
No problem at all! I'll be less active in the rest of the week, so then it's your time to shine! 😃

[2016-12-11 21:46] Magicode1 commented on #18
Ya :D

[2016-12-12 08:58] Sandertv commented on #18
I'm havig big trouble with spawning monsters only in dark locations. PocketMine doesn't have properly working functions for it. I'll just go use time for now, until PM implements better light checking.

[2016-12-12 10:11] Sandertv commented on #17
I'm sorry to say I can't do anything more than make them only spawn at day for now.

[2016-12-12 10:11] Sandertv commented on #17
All because PocketMine doesn't have proper light implemented.

[2016-12-12 10:14] Sandertv commented on #17
You could possibly add a huge glass layer above your spawn, as monsters currently spawn on the highest block possible in a world.

[2016-12-12 10:44] caspervanneck commented on #17
@Sandertv  is that working?

[2016-12-12 10:58] Infernus101 opened #20 "Entity base tick error on startup"
Warning: Declaration of magicode\pureentities\entity\BaseEntity::entityBaseTick($tickDiff = 1) should be compatible with pocketmine\entity\Living::entityBaseTick($tickDiff = 1, $EnchantL = 0) in E:\PocketMine-MP\plugins\PureEntitiesX-master\src\magicode\pureentities\entity\BaseEntity.php on line 0

[2016-12-12 11:04] Magicode1 commented on #20
Thanks! We will get right on it!

[2016-12-12 11:18] Sandertv commented on #20
Yep! I've noticed that too. It happens on startup!

[2016-12-12 11:19] Sandertv commented on #17
Yep, it is.

[2016-12-12 11:59] Magicode1 commented on #20
It shouldn't cause any issues with your gameplay. But, we will try to fix that in the near future!

[2016-12-12 12:02] Infernus101 commented on #20
Does this have auto spawning and is it laggy?

[2016-12-12 12:02] Infernus101 commented on #20
Also you should give an option like which world do you entities to spawn..

[2016-12-12 12:04] Sandertv commented on #20
Currently, yes there is auto spawn for monsters at night. We haven't tested the performance on larger servers so I'm not sure. We'll be working on a condig fairly soon, before the first real release for sure. ( no ETA yet )

[2016-12-12 12:06] Infernus101 commented on #20
what about animal entity like cow and pig spawning in the world?

[2016-12-12 12:07] Sandertv commented on #20
We're working on that as well right now :)

[2016-12-12 12:07] Infernus101 commented on #20
cool! excited xD

[2016-12-12 12:11] Glyphs opened #21 "Monsters Spawn in sight and in rapid numbers constantly."
Alright, this had been happening before commit:  https://github.com/RevivalPMMP/PureEntitiesX/commit/47af8d1123836442544e57a74b5a2386b0029bd0 but has just gotten far far worse..

![image](https://cloud.githubusercontent.com/assets/10164439/21098992/28281d64-c06c-11e6-9ffc-598a52d8d756.png)

Monsters are spawning at a very rapid pace and just endlessly multiplying if you stand still. I don't think

[2016-12-12 12:18] Magicode1 commented on #21
Hmmm, this hasn't happened for me. Me and @Sandertv will look at this, stay tuned.

[2016-12-12 12:33] Magicode1 commented on #21
I made a new commit ( [Here](https://github.com/RevivalPMMP/PureEntitiesX/commit/5c99a9ef2cfd2535eb173bc891d7d7999fc4630a) ) that fixes this. Let me know if it works!

[2016-12-12 12:36] Glyphs commented on #21
Can confirm this works a lot better.

![image](https://cloud.githubusercontent.com/assets/10164439/21099673/cdd2822e-c06f-11e6-89a0-6bdb5c90d3c0.png)

There's still a good bunch of mobs around (as there usually are at night), but it no longer instantly spawns 10-20 around you as soon as it turns night now!

[2016-12-12 12:36] Magicode1 commented on #20
Same!! It should be awesome!

[2016-12-12 12:44] Magicode1 commented on #21
Awesome! Have fun with it! Thanks for posting this issue!

[2016-12-12 12:44] #21 closed

[2016-12-12 12:53] Magicode1 commented on #18
Okay, I am working on Passive Mob spawning tasks.

[2016-12-12 13:13] Magicode1 commented on #18
Actually, I have no idea how your AutoSpawn task works (Maybe just coded in a different style??) DO you think you could get the Passive spawn going?

[2016-12-12 14:23] Sandertv commented on #21
Monsters tend to get all together in the holes because they don't have the ability to jump up blocks yet. We're working on this!

[2016-12-12 14:38] Sandertv commented on #18
Basically what it does is it makes a random entity ID and spawns it on a random X and Y if it has the needed requirements.

[2016-12-12 14:39] Sandertv commented on #18
But right now I'm working on improving the system so it works with biomes! I currently got the monsters done, now just the animals :D

[2016-12-12 14:48] Magicode1 commented on #18
I think I got the animals. You may need to test it, but it should work.

[2016-12-12 14:49] Sandertv commented on #18
Alrighty! I'll give it a try :)

[2016-12-12 14:56] Sandertv commented on #18
It works! Awesome!

[2016-12-12 14:56] #18 closed

[2016-12-12 14:59] Magicode1 commented on #18
YEAH!

[2016-12-12 15:13] caspervanneck opened #22 "they steal spawn"
with glass layer on mij spawn

[2016-12-12 15:22] Sandertv commented on #22
That's weird... Could you try making the layer 2 blocks thick? This is probably a bug in PocketMine with getHighestBlockAt() not properly working with 1 block thick layers.

[2016-12-12 15:56] #22 closed

[2016-12-12 19:01] Sandertv commented on #5
This is all finished, time to close this!

[2016-12-12 19:01] Sandertv commented on #5
This is all finished, time to close it!

[2016-12-12 19:01] #5 closed

[2016-12-13 01:38] JunkDaCoder opened #25 "iProtector Support"
Is there anyway you can add support for iProtector so they cant spawn in certian areas?

[2016-12-13 06:21] caspervanneck commented on #25
I dont think so

[2016-12-13 06:34] Sandertv commented on #25
We'll work on that a bit latern

[2016-12-13 11:13] Magicode1 commented on #25
I think that might be an option in the near future, we just don't exactly know what we want to do with PureEntities yet (we got so much unexpected support, what do we do now? :) ) We may add an API or something for other plugins to hook into, once we finish fine tuning it. Just bare with us until we finish all the updates and Mobs :)

[2016-12-13 11:57] Magicode1 opened #26 "Want to Code Plugins with RevivalPMMP?"
![image](https://cloud.githubusercontent.com/assets/21282327/21296505/817228f0-c53b-11e6-9a43-9781bc6705f3.png)

Want to Code cool plugins with RevivalPMMP? Want to help with PureEntitiesX or another plugin? Reply to this Issue below and we will look at your work to see if you are good enough to be invited.

EDIT:
This has moved to email, please contact infohelp@revivalpmmp.gq for help and to appl

[2016-12-13 11:59] Sandertv commented on #26
*If we think you're good to have in the team of course! :)

[2016-12-13 12:03] Magicode1 commented on #26
Lol yeah

[2016-12-13 12:05] caspervanneck commented on #26
Uhm my plugin is there its wip @Magicode1  @Sandertv

[2016-12-13 15:36] Magicode1 commented on #25
@JunkDaCoder , we are now working on an event called 'CreatureSpawnEvent' which can enable/disable spawning in certain areas.

[2016-12-14 02:12] jasonwynn10 commented on #26
Mind if I help a bit?

[2016-12-14 06:27] Sandertv commented on #26
Of course! Go ahead! I'm not adding anyone to the team just yet, but I'm in for it :) (I'll wait for @Magicode1 to join in)

[2016-12-14 11:31] Magicode1 commented on #26
I'm good with it! Go ahead and invite.

[2016-12-14 12:16] Infernus102 commented on #26
I am good with inventory and player functions. Not to brag but i am the only dev of Fallentech #1 mcpe server

[2016-12-14 12:55] Sandertv commented on #25
We've finished a protection plugin just now. We've added the link in the README of this project. :)

[2016-12-14 12:55] #25 closed

[2016-12-14 12:56] Sandertv commented on #17
I've added a protection plugin in the README. You can properly protect it from monsters to spawn using that plugin.

[2016-12-14 12:56] #17 closed

[2016-12-14 13:22] Magicode1 commented on #20
Auto Spawning is implemented, and this bug is fixed.

[2016-12-14 13:22] #20 closed

[2016-12-14 13:23] Magicode1 commented on #11
I'm just gonna close this because it's kinda just sitting here

[2016-12-14 13:23] #11 closed

[2016-12-14 13:24] Magicode1 commented on #9
I saw a cow and some other animals stop walking in the desert and I was like yaaaaaay.

[2016-12-14 13:24] #9 closed

[2016-12-14 13:28] Infernus102 commented on #20
YESSSSSSSSSS

[2016-12-15 15:12] caspervanneck opened #30 "mobs cant jumb"
is this not fixt

[2016-12-15 15:20] Sandertv commented on #30
There's already an issue open for this.

[2016-12-15 15:20] #30 closed

[2016-12-15 15:32] tjespe opened #31 "Enabling sheap shearing"
I see that there is an open issue about taming wolfs and I guess this is kind of the same. Anyway it would be really great if you made it possible to shear sheep.

[2016-12-15 15:33] Sandertv commented on #31
As soon as entity jumping is fixed, we'll see if we can do anything about it! :)

[2016-12-15 15:34] tjespe commented on #10
This would really make the plugin a 100 times better!

[2016-12-15 15:40] tjespe opened #33 "Monsters spawn at daytime"
On my server, monsters (zombies, skeletons, spiders, creepers, endermen, et.c.) spawn even though it is in the middle of the day.
I don't know if this is a bug or if it is something you haven't yet implemented, however I can't imagine that it is very hard to fix. Checking light conditions may be tricky, but just checking the time to see whether it's day or not would be better than how it currently

[2016-12-15 15:40] tjespe commented on #31
Sounds great!

[2016-12-15 15:41] Sandertv commented on #33
Have you made sure you're using the latest version? I've fixed this a day or 2 ago, so it should work.

[2016-12-15 15:42] tjespe commented on #33
I'm using GitHub Desktop to sync with your repository, so yes it is the latest version.

[2016-12-15 15:44] tjespe commented on #33
If it's relevant I am using PocketMine on an iMac with macOS Sierra 10.12.1

[2016-12-15 15:45] Sandertv commented on #33
Do you have any factors that might somehow impact the spawning? Maybe an imported world, or something else?

[2016-12-15 15:46] tjespe commented on #33
The world is created in the official Minecraft for mac app, and copied into the worlds directory.

[2016-12-15 15:47] tjespe commented on #33
My `server.properties` file might be relevant:

`#Properties Config file
#Thu Dec 15 16:17:28 CET 2016
server-name=Beste server
server-port=19133
gamemode=0
max-players=20
spawn-protection=-1
white-list=0
enable-query=off
enable-rcon=on
rcon.password=Vc44GzjQEF
motd=Minecraft: PE Server
announce-player-achievements=on
allow-flight=off
spawn-animals=on
spawn-mobs=on
force-gamemode=off
hardcore=off

[2016-12-15 15:48] Sandertv commented on #33
Would you mind trying to generate a new world using the PocketMine world generator and try to reproduce this there too?

[2016-12-15 15:49] tjespe commented on #33
Okay, I'll try

[2016-12-15 15:58] Sandertv commented on #33
Just tried reproducing and you're right. They don't spawn the whole day, but they spawn while the sun isn't even close to setting yet. I'll fix this shortly.

[2016-12-15 15:59] tjespe commented on #33
This is a completely different issue but all of sudden I am unable to use the plugin. When starting the server I get this error:

`[16:54:06] [Server thread/INFO]: Loading source plugin PureEntitiesX v1.1`

`[16:54:06] [Server thread/CRITICAL]: ClassNotFoundException: "Class revivalpmmp\pureentities\entity\monster\WalkingMonster not found" (EXCEPTION) in "/src/spl/BaseClassLoader" at line 144`

`[

[2016-12-15 16:00] tjespe commented on #33
Okay, that's great

[2016-12-15 16:03] Sandertv commented on #33
Oh yikes, something went wrong with the namespace changing from @Magicode1

[2016-12-15 16:05] tjespe commented on #33
Oh I see

[2016-12-15 16:07] Sandertv commented on #33
Okay hopefully it's fixed now.

[2016-12-15 16:13] tjespe commented on #33
Getting a different error now, but still unable to load the plugin:
`[17:10:30] [Server thread/CRITICAL]: ClassNotFoundException: "Class magicode\pureentities\PluginBase not found" (EXCEPTION) in "/src/spl/BaseClassLoader" at line 144`

[2016-12-15 16:14] tjespe commented on #33
The name `magicode` is still used PureEntities.php on line 79, in CreatureSpawnEvent.php on line 3 and in Spawner.php on line 3, 5 and 6 if that helps you fix it

[2016-12-15 16:17] Sandertv commented on #33
Thanks a lot! It should work now (hopefully :P)

[2016-12-15 16:22] tjespe commented on #33
Hmm, still doesn't work although I have synced and your changes are applied:
`[17:20:55] [Server thread/CRITICAL]: ClassNotFoundException: "Class revivalpmmp\pureentities\PluginBase not found" (EXCEPTION) in "/src/spl/BaseClassLoader" at line 144`
At least the name `revivalpmmp` is in the error now

[2016-12-15 16:25] caspervanneck commented on #33
@tjespe  uhm yhere is somting rong

[2016-12-15 16:27] Sandertv commented on #33
Okay it's probably fixed now. I'm really sorry for the unconvenience.

[2016-12-15 16:30] tjespe commented on #33
The namespaces are fixed but another error occured:
`Fatal error: Cannot use revivalpmmp\pureentities\entity\monster\Monster as Monster because the name is already in use in /Users/tordjohanespe/Documents/Servere/Minecraft/plugins/PureEntitiesX/src/revivalpmmp/pureentities/task/AutoDespawnTask.php on line 11`

However this was fixed when I removed the double "use revivalpmmp\pureentities\entity\mo

[2016-12-15 16:30] Sandertv commented on #33
Ah alright, will quickly do that :)

[2016-12-15 18:39] TiesGamesNL commented on #33
@sandertv @caspervanneck cant code he is messing up everyting just saying                                                         

[2016-12-15 20:32] Skull3x commented on #26
I would like to assist as well, I am working on a project in a private repository on my own so maybe I can help you guys out with this project? :smile:

[2016-12-15 20:46] Sandertv commented on #26
I'm fine with it, I think you could be a good addition to the team :) @Magicode1 should we take @Skull3x as last member for the time being?

[2016-12-15 20:52] Sandertv commented on #10
Changed title, we gotta fix this issue now :P

[2016-12-15 21:01] tjespe commented on #10
@Sandertv @Skull3x Comitted a change 27 minutes ago which seems to have fixed it. However it looks like the entities jumps higher than necessary.

[2016-12-15 21:04] Skull3x commented on #10
Entities jump as far as needed to jump over a wall.

A wall at a specific height? Or a wall in general??

[2016-12-15 21:05] tjespe commented on #10
The original issue was that entities were unable to "jump on 1 block high walls" so I guess a wall with 1 block height is what we're talking about.

[2016-12-15 21:08] Skull3x commented on #10
@tjespe Not necessarily, my commit implements jumps but for walls higher than the entity. It tends to do something known as wall walking, similar to the Vanilla Spider. Due to:

[code]

I have not added anything to prevent that yet as of now

[2016-12-15 21:08] Sandertv commented on #10
Yep. That's what we got left to do.

[2016-12-15 21:09] Skull3x commented on #10
@tjespe @Sandertv I will work on that now or in the future if not implemented sooner :)

[2016-12-15 21:09] tjespe commented on #10
As of now, all entities jump right over fences which kind of ruins farming and stuff

[2016-12-15 21:11] Magicode1 commented on #26
Yes! The more the merrier!

[2016-12-15 21:11] Sandertv commented on #26
Alright! I'll send an invite :)

[2016-12-15 21:12] Skull3x commented on #10
@Sandertv I like the 1st option better

[2016-12-15 21:13] Skull3x commented on #10
@Sandertv Unless you plan on removing jump capabilities, I'm fine either way 👍

[2016-12-15 21:13] Sandertv commented on #10
Alright, let's go for the first one then :) Let's not forget to make it so spiders DO keep this capability of wall climbing.

[2016-12-15 21:14] tjespe commented on #10
I also think the 1st option is best becuase in "real minecraft" the animals will always try to jump over fences and stuff even though they can't.

[2016-12-15 21:18] tjespe commented on #10
One thing you should keep in mind (although it's not super important) is that spiders should be able to wall walking and climb even though they're not on the ground

[2016-12-15 21:19] Skull3x commented on #10
Yes, I agree. I will attempt to make this as similar to Vanilla as possible

[2016-12-15 21:27] tjespe commented on #10
At least the entities don't drown anymore, which is [another issue](https://github.com/RevivalPMMP/PureEntitiesX/issues/13)

[2016-12-15 21:29] Sandertv commented on #10
They don't? Do they stay on the surface now?

[2016-12-15 21:31] tjespe commented on #10
I'm sorry, they do drown some times. It depends on whether or not there are any solid blocks around them, so when they go in to a small water they survive but when they go out in the sea they wuickly go to the bottom, as they did before.

[2016-12-15 21:32] Skull3x commented on #10
@tjespe @Sandertv Yes, I will add swimming functions if they have not been added already right now. And could one or both of you check the gitter chat? :)

[2016-12-15 21:35] Sandertv commented on #10
Oh of course! Sorry :P

[2016-12-15 22:06] tjespe opened #35 "Sheep despawn instead of dying when killed"
For some reason, sheep just despawn instead of dying. At least they do on my server. Instead of the death animation and item dropping they just freeze and then despawn a moment later. This makes it impossible for the players to get any wool, becuase sheering isn't implemented yet.

I don't know if this is a bug I have or if it's a bug with the plugin.

I thought correcting the Item::get() call on

[2016-12-15 22:08] Sandertv commented on #35
Yep I've noticed that too. I'll look into it :)

[2016-12-15 22:17] tjespe commented on #26
I would also like to assist. I haven't used GitHub much so my profile is basically empty, but I do have a bit of experience with php, and I would be very interested in helping to develop PocketMine plugins.

[2016-12-16 12:30] Sandertv commented on #31
I thought I'd just mention it. I've been working on shearing sheep and it works. Well, sort of. Currently just the shear button shows up whenever you look at any entity. Expect it to be fixed soon :)

[2016-12-16 14:02] tjespe commented on #35
The exact same issue seems to be the case for endermen as well

[2016-12-16 14:02] Sandertv commented on #35
Yep, found that out too.

[2016-12-16 14:03] tjespe opened #36 "Monsters burn at too low light levels"
Skeletons and Zombies burn to death even though it's very dark.

[2016-12-16 14:04] Sandertv commented on #36
Probably relates to #33

[2016-12-16 14:05] tjespe commented on #36
Yes probably

[2016-12-16 14:12] tjespe commented on #36
I see that the burning criteria is not based on light around the entity but on the server time. It probably shouldn't be like this, but as of now I believe it's easy to fix the issue by changing lines 71-77 in Zombie.php to this:
`$time = $this->getLevel()->getTime() % 24000;`
`        if(`
           ` !$this->isOnFire()`
            `&& ($time > 12000)`
       ` ){`
           ` $this->setOnFire

[2016-12-16 14:53] Sandertv commented on #36
We currently can not use light as it's simply not properly implemented in PocketMine.

[2016-12-16 15:55] NycuRO opened #37 "Apollo? For Java?"
Hi.

2. You can create and for Apollo ( Fork of Nukkit , java software ) ?
3. I can implement in Apollo if you create and for java?

[2016-12-16 15:59] Sandertv commented on #37
1. There's an addon plugin for this that we've made. Scroll down the README and click the link.
2. We're focusing on PocketMine. This plugin already exists in Nukkit if that's what you meant.
3. ^

[2016-12-16 16:01] NycuRO commented on #37
@Sandertv Ok , edited issue. You can create and one branch specialy for nukkit?

Your modification and addon is very useful :)

And i want to implement in Apollo :)

[2016-12-16 16:02] Sandertv commented on #37
Like I said, there already is a Nukkit version somewhere on github. And what is Apollo?

[2016-12-16 16:03] NycuRO commented on #37
Apollo: https://github.com/NycuRO/Apollo

And you can send me link with Nukkit version?

[2016-12-16 16:06] NycuRO commented on #37
And yes, PureEntities is deleted from github.

Exist and other for nukkit, but isn't ok.

Sorry if repeat ,but you can create ADDON and PureEntitiesX and for nukkit?

[2016-12-16 16:06] Sandertv commented on #37
The Nukkit version seems to have just been removed. It used to be at: https://github.com/SW-Team/PureEntities

[2016-12-16 16:07] NycuRO commented on #37
I know is removed. But you can translate Addon and PureEntitiesX ( sorry if repeat ) for Nukkit? Your editeds is very useful.

[2016-12-16 16:08] Sandertv commented on #37
I'm sorry, but I'm not going to try and port it for Nukkit. First, I don't have a lot of knowledge about nukkit and Java, and this plugin needs a lot of work too until it's really flawless.

[2016-12-16 16:09] NycuRO commented on #37
Ok :(

[2016-12-16 16:10] caspervanneck commented on #37
hey @NycuRO

[2016-12-16 16:17] NycuRO commented on #37
@caspervanneck Hi =]

[2016-12-16 16:22] Magicode1 commented on #36
Yes, checking for block light is not implemented in PMMP, so we need to go off of the time. As soon as PMMP implements Block Light, we can get this working asap.

[2016-12-16 16:23] NycuRO opened #39 "Wither Skeletons"
Add wither skeletons ( issue for not forgot feature )

[2016-12-16 16:40] NycuRO opened #40 "Apollo request your values"
I can copy values of speed and other for Apollo ( EntityAl branch ) ?

[2016-12-16 16:56] Sandertv commented on #40
As long as it's not the AI itself go ahead. The data like height, width, that stuff, feel free.

[2016-12-16 16:57] #40 closed

[2016-12-16 19:10] PikyCZ opened #42 "-----"
this problem :::
 Declaration of revivalpmmp\pureentities\entity\BaseEntity::entityBaseTick($tickDiff = 1) should be compatible with pocketmine\entity\Living::entityBaseTick($tickDiff = 1, $EnchantL = 0)

[2016-12-16 19:11] Sandertv commented on #42
Aware of this. It doesn't affect anything though.

[2016-12-16 19:12] Magicode1 commented on #42
Please also use an accurate title,.

[2016-12-16 19:12] #42 closed

[2016-12-16 19:20] Sandertv commented on #26
I'll leave this one up to @Magicode1, you do seem very mature and you're really helpful with helping me debug stuff though.

[2016-12-16 23:52] Magicode1 commented on #26
I say we take them on, the more the merrier!

[2016-12-17 05:15] shecter opened #43 "Error"
I'm getting this error when viewing creepers. It displays repeatedly the same information each time.

phar:///home/gs/gs/data/servers/4813054/plugins/PureEntitiesX (3).phar/src/magicode/pureentities/entity/monster/walking/Creeper.php on line 62
2016-12-17 [06:08:25] [Server thread/CRITICAL]: Could not tick level "SW": Argument 3 passed to pocketmine\event\entity\ExplosionPrimeEvent::__construct(

[2016-12-17 07:49] Sandertv commented on #43
Yep, I'm aware of this one. I'll look for a fix soon.

[2016-12-17 08:45] #37 closed

[2016-12-17 09:13] #31 closed

[2016-12-17 11:19] caspervanneck commented on #10
Is this fixt?

[2016-12-17 11:19] Sandertv commented on #10
No, I'll leave this up to @Skull3x

[2016-12-17 12:58] tjespe opened #44 "Entities walk through solid blocks"
Lag allows entities to occasionally walk through completely solid blocks. This makes farming impossible, because there is no way to trap entities. Even though you build a roof an four walls around them, they will still escape eventually. I don't think it was like this before the temporary wall climb solution was implemented, so this issue might resolve itself when we get a working solution for cli

[2016-12-17 13:13] tjespe commented on #26
@Magicode1 How can I contribute to the code? Do I have to make forks or branches or can I commit directly?

[2016-12-17 13:20] tjespe opened #45 "Make entities more careful"
Currently, entities walk off cliffs killing themselves without thinking twice.

[2016-12-17 13:38] Sandertv commented on #45
Yeah. This will be hard one though.

[2016-12-17 14:22] Magicode1 commented on #45
We will have to have them check for air block under/in front of them. Caves may make this difficult though.

[2016-12-17 14:50] Magicode1 commented on #26
We can invite you to the organization if you want. Then we can add you to the plugin devs team so you can commit directly.

[2016-12-17 15:25] JunkDaCoder commented on #43
Can confirm

[2016-12-17 16:06] Sandertv commented on #39
Added in e2d67345c3de5552f07ea9ecb8f859e287bc969d

[2016-12-17 16:06] #39 closed

[2016-12-17 16:46] NycuRO opened #47 "Colored Sheep , Drop Colored Wool? Breeding animals and baby ?"
You can implement this?

[2016-12-17 20:04] Rover656 opened #50 "Chickens don't 'float' down to the ground when falling"
Hi, Great Job with this, it really has potential
Just thought it would be worth mentioning that chickens don't 'float' to the ground when they're falling,
but great job, looking forward to a new release!

[2016-12-17 20:19] Sandertv commented on #50
Thanks for reporting, we'll try to implement this as soon as possible!

[2016-12-17 20:20] Rover656 opened #51 "When you are luring chickens"
When you are luring (I just found it about chickens) they don't leave you alone afterwards. They continue to follow you.
Just another bug, great job tho!

[2016-12-17 20:20] Sandertv commented on #51
Yeah I've noticed this, it's really annoying. I'll try to fix this soon.

[2016-12-17 20:20] Rover656 commented on #50
@Sandertv you are very welcome!

[2016-12-17 20:21] Rover656 commented on #51
@Sandertv Thank you

[2016-12-17 20:26] Rover656 commented on #50
@Sandertv i'd like to compile the master... how would one create the phar file???

[2016-12-17 21:09] Skull3x commented on #51
@Sandertv While we are at it, should we add breeding functions? 👍

[2016-12-17 21:15] Sandertv commented on #50
A possible way is download it from the poggit button for an automatic compile phar, or
Download the zip and use pmt.mcpe.me to compile it, or
Download the zip and make it a phar using devtools.

[2016-12-17 21:16] Sandertv commented on #51
Yeah. We'll have to use the buttons like shearing sheeps.

[2016-12-18 04:36] Skull3x commented on #51
@Sandertv If we use those, do you have any idea how we can detect an interaction with that button "onPress"? Packets??

[2016-12-18 05:27] XShockinFireX commented on #51
@Skull3x It is possible with InteractPacket, the action is right-click

[2016-12-18 08:00] Sandertv commented on #51
You can look at the code I used for shearing sheep.

[2016-12-18 13:24] #35 closed

[2016-12-18 13:36] Sandertv commented on #35
👍

[2016-12-18 14:17] TiesGamesNL commented on #26
can i help??

[2016-12-18 14:24] TiesGamesNL commented on #26
@caspervanneck ok laten we stoppen met dit en gewoon normaal tegen elkaar doen?

[2016-12-18 15:25] caspervanneck commented on #47
idk @NycuRO

[2016-12-18 15:26] Skull3x commented on #47
@NycuRO Yes we can 👍 . But the breeding animals may take time :)

[2016-12-18 19:07] shecter commented on #43
really dumb question. where do i download the updated version when this is fixed?

[2016-12-18 19:23] shecter opened #54 "Error"
The console displays the error below (repeatedly) and all creatures stop moving.

2016-12-18 [20:20:36] [Server thread/CRITICAL]: Could not tick level "SW": Argument 3 passed to pocketmine\event\entity\ExplosionPrimeEvent::__construct() must be of the type boolean, none given, called in phar:///home/gs/gs/data/servers/4813054/plugins/PureEntitiesX_v0.1.1_dev.phar/src/revivalpmmp/pureentities/enti

[2016-12-18 19:35] Sandertv commented on #54
Yeah this is a creeper issue, we're aware of this.

[2016-12-18 19:35] Sandertv commented on #43
You can download it from the poggit button at the README.

[2016-12-18 19:36] Sandertv commented on #43
Too bad it's not working every now and then. You can download the zip too and compile it to phar using pmt.mcpe.me if it happens not to work.

[2016-12-18 19:40] shecter commented on #54
Is it possible to turn off Creepers until this is fixed? if so, how?

[2016-12-18 20:12] tjespe commented on #54
This is the exact same issue as issue #43

[2016-12-18 20:14] tjespe commented on #54
@shecter There is no way to disable a specific mob when you are using the phar file. To do that you would have to copy the source code and modify it.

[2016-12-18 20:14] #54 closed

[2016-12-18 20:55] Magicode1 commented on #26
Sure. Just make sure to provide useful help.

[2016-12-18 21:16] Sandertv commented on #43
The cause of this is the event being different in PocketMine than for example Genisys. I can't fix this, as it will be either forks of PocketMine that have compatibility, or PocketMine, which this plugin was intended for.

[2016-12-19 12:22] TiesGamesNL commented on #26
@Magicode1 ok

[2016-12-19 13:16] Magicode1 commented on #26
I invited

[2016-12-19 13:42] NycuRO opened #55 "Special Mobs and Xp Drop on Mobs ?"
You can implement "Special Mobs"

![image](https://cloud.githubusercontent.com/assets/13573011/21314807/a8a0f980-c601-11e6-848c-25288d2b564e.png)

And XP Drop from Mobs? Thanks!

[2016-12-19 13:56] Magicode1 commented on #55
We can't make mobs drop XP until Pocketmine Implements XP (Maybe we could implement XP, but I will have to talk with @Sandertv)

But, we can see about implementing special mobs 😄

[2016-12-19 13:56] caspervanneck commented on #55
No XP  its for pmmp not genisys or other forks

[2016-12-19 14:05] NycuRO commented on #55
@caspervanneck XP = PureEntitiesX ?

[2016-12-19 14:28] NycuRO opened #56 "All type of Ocelot and Feature Creeper and Ocelot"
1. You can add all type of Ocelot?

2. Feature Creeper:

" Creepers will actively avoid ocelots and cats. However, this will not deter them from chasing a player, only keeping the creeper a distance away. "
Creeper fleets from Ocelot.

3. Ocelot sit on Bed.

WIKI : http://minecraft.gamepedia.com/Ocelot

[2016-12-19 14:46] jasonwynn10 commented on #55
what do you mean by 'special' specifically? Do you just mean mobs riding on other mobs or something more?

[2016-12-19 14:47] jasonwynn10 commented on #56
I thought ocelots sit on chests...?

[2016-12-19 15:22] caspervanneck commented on #26
@TiesGamesNL is goed

[2016-12-19 15:33] Sandertv commented on #56
This is some really advanced stuff, which is not really smart to prioritize currently.

[2016-12-19 16:27] shecter commented on #43
Which versions of pocketmine will this plugin work with?

[2016-12-19 16:30] Magicode1 commented on #43
The Official Pocketmine Phar. Other 3rd party spoons (Such as Clearsky or Genisys) will not work.

[2016-12-19 17:08] shecter commented on #43
Thanks @Magicode1. I assume you are talking about this version? http://screencast.com/t/jLwXhA7ytgk5

[2016-12-19 17:11] caspervanneck commented on #43
nope @shecter

[2016-12-19 17:15] shecter commented on #43
@caspervanneck @Magicode1 can you throw me a bone? what is the latest version and what's the link to get it?

[2016-12-19 18:00] caspervanneck commented on #43
[PocketMine-MP_1.6.2dev.zip](https://github.com/RevivalPMMP/PureEntitiesX/files/661759/PocketMine-MP_1.6.2dev.zip)

here is 1.0.0 release

[2016-12-19 18:00] caspervanneck commented on #43
@shecter

[2016-12-19 18:47] shecter commented on #43
Thank you very much @caspervanneck . I'll give that version a try with this plugin. I hope that version of PMMP doesn't make my other plugins stop working.

[2016-12-19 21:04] Magicode1 commented on #43
That is actually a Phar that @caspervanneck made himself for 1.0 (Thats not bad or anything, it's just not official Pocketmine). If you want to download the official version, check here: https://github.com/pmmp/PocketMine-MP/releases

[2016-12-19 21:08] shecter commented on #43
Thanks @Magicode1

[2016-12-19 21:36] shecter commented on #43
Thanks. that worked.

[2016-12-20 18:36] #43 closed

[2016-12-21 08:50] Rover656 opened #59 "Shearing sheep"
Just something I discovered the other day...
When you shear a sheep, it doesn't damage your shears, it makes Shearing infinite
But other than that, good job!

[2016-12-21 11:46] Sandertv commented on #59
This isn't implemented just yet.

[2016-12-21 14:57] Sandertv commented on #10
Bump @Skull3x, could you have a try to fix this?

[2016-12-21 15:45] Magicode1 commented on #10
If he hasn't, we can get it done tomorrow.

[2016-12-21 19:10] NycuRO opened #61 "Bug TODO List"
- [x] 1. Wolves cannot be tamed #215
- [x] 2. Wolves eyes don't change color when aggravated
- [ ] 3. General AI glitches
- [ ] 4. Attacked Animals don't run from players
- [ ] 5. Ocelots don't run from players
- [x] 6. Mooshrooms cannot be sheared #112
- [x] 7. The shear button is hidden on sheep and mooshrooms #112
- [ ] 8. Bats don't fly to move
- [ ] 9. Rabbits don't hop to move
- [x] 10. Hors

[2016-12-21 19:11] Rover656 commented on #61
Pretty much all of these are known

[2016-12-21 19:12] jasonwynn10 commented on #61
How does the speed change after being hit?

[2016-12-21 19:13] NycuRO commented on #61
@Rover656 I'm very informated in this chapter.

This bugs is because PureEntities have this issues because have moving by MobAI.

Official speed and ~ all mobs have speed from task ( in pc ).

[2016-12-21 19:13] NycuRO commented on #61
@jasonwynn10 If you attack animals , change speed for 5 sec. Wait for creating video.

[2016-12-21 19:13] Magicode1 commented on #61
Nether Mobs Should Have AI. A few errors might be caused if you are using the new MCPE 1.0 branch of PMMP

[2016-12-21 19:14] NycuRO commented on #61
@Magicode1 I'm not using 1.0 branch.

[2016-12-21 19:14] NycuRO commented on #61
Is master.

[2016-12-21 19:14] caspervanneck commented on #61
lol

[2016-12-21 19:15] caspervanneck commented on #61
it has no eror the 1.0.0 branch

[2016-12-21 19:15] caspervanneck commented on #61
zo what

[2016-12-21 19:16] Sandertv commented on #61
This is all known and most reported. Almost all are things that have not been added yet.

[2016-12-21 19:16] Magicode1 commented on #61
Ok. The "Could not Tick Level" Has to do with your computer. Whenever the mobs cause your server to freeze for a second (Aka Normal Lag), since it is PureEntities that caused it (It would be Pocketmine itself, but it doesn't have mobs, our plugin is what makes the mobs), Pocketmine reports it to the console.

[2016-12-21 19:18] caspervanneck commented on #61
and @NycuRO its in wip so

[2016-12-21 19:22] Sandertv commented on #61
Oh and sheep do show the shear buttons btw.

[2016-12-21 19:22] NycuRO commented on #61
@Sandertv In creative mode not.

[2016-12-21 19:23] Sandertv commented on #61
It should if you have shears in your hands...

[2016-12-21 19:23] Sandertv commented on #61
Oh wait nvm you're right.

[2016-12-21 19:23] Sandertv commented on #61
But why would you want to shear sheep in creative mode anyways?

[2016-12-21 19:23] NycuRO commented on #61
And video for change speed here: https://youtu.be/XxEMSJKSCZg

[2016-12-21 19:25] Sandertv commented on #61
And for the creeper bug you must be using Genisys or something. It shouldn't occur on PMMP.

[2016-12-21 19:26] NycuRO commented on #61
@Sandertv I'm using PMMP

[2016-12-21 19:26] caspervanneck commented on #61
sorry if i say genisys  is bad!

[2016-12-21 19:28] caspervanneck commented on #61
its junk

[2016-12-21 19:30] Sandertv commented on #61
For the creeper error, try now.

[2016-12-21 19:33] jasonwynn10 commented on #61
btw I went through and made clearer english out of what was typed

[2016-12-21 19:33] NycuRO commented on #61
@Sandertv Work explosion. But not break blocks and not work particles and not drop items.

[2016-12-21 19:35] Sandertv commented on #61
I'll add block breaking later once config gets added, so people can configure if they damage terrain or not. For now I'm leaving it like this.

[2016-12-21 19:35] Sandertv commented on #61
And the squid issue is in fact a PocketMine problem. PocketMine has squids implemented sort of.

[2016-12-21 19:36] NycuRO commented on #61
28. When you creeper seeks to rumble, it is no longer salt blocks.

[2016-12-21 19:37] jasonwynn10 commented on #61
what keeps being translated into salt??

[2016-12-21 19:38] NycuRO commented on #61
@jasonwynn10 Jump*

[2016-12-21 19:38] jasonwynn10 commented on #61
@Sandertv can't we just extend our squid class off of pocketmine's?

[2016-12-21 19:39] jasonwynn10 commented on #61
@NycuRO thank you!

[2016-12-21 19:39] NycuRO commented on #61
Welcome. @jasonwynn10

[2016-12-21 19:41] NycuRO commented on #61
I continue to search bugs and add in this issue. I'm added "EDIT" in this issue.

I add all my issues in this.

[2016-12-21 19:42] NycuRO commented on #56
https://github.com/RevivalPMMP/PureEntitiesX/issues/61

[2016-12-21 19:42] NycuRO commented on #55
https://github.com/RevivalPMMP/PureEntitiesX/issues/61

[2016-12-21 19:42] #55 closed

[2016-12-21 19:44] NycuRO commented on #47
https://github.com/RevivalPMMP/PureEntitiesX/issues/61

[2016-12-21 19:44] #47 closed

[2016-12-21 20:25] Sandertv commented on #56
It's in fact easier to have them in sepparated issues. We can keep track of them that way easier.

[2016-12-21 21:01] AppleDevelops commented on #26
@Magicode1 Could I help out? I plan on reviving PureChat and PurePerms.

[2016-12-21 22:47] jasonwynn10 commented on #26
@AppleDevelops i thought they were still being developed??

[2016-12-21 23:39] AppleDevelops commented on #26
@jasonwynn10 It looks like the repo is inactive.

[2016-12-22 01:10] jasonwynn10 commented on #61
ima put check boxes by each issue to be checked off when it's fixed

[2016-12-22 01:20] jasonwynn10 commented on #59
INFINITE SHEARS!!

[2016-12-22 07:48] NycuRO commented on #56
@Sandertv Open or close issue ?

[2016-12-22 11:58] Sandertv commented on #56
Just leave them closed for now I guess.

[2016-12-22 11:58] #56 closed

[2016-12-22 15:16] Magicode1 commented on #61
About the Cave spider attacking witches. Witches throw potions, and when they hit mobs, the mobs attack it.

[2016-12-22 16:05] NycuRO commented on #61
@Magicode1 Witch not have in hand potion.

EDIT: add 37

[2016-12-22 16:07] Sandertv commented on #61
Not yet implemented either.

[2016-12-22 16:08] NycuRO commented on #61
I know. And features added in issue . Is more easier for watch bugs and not implemented features

[2016-12-23 09:12] caspervanneck opened #62 "mobs swim on genisys"
and mob spawner work with no eror

[2016-12-23 09:14] caspervanneck commented on #62
@Sandertv @Magicode1 why is mob swiming working on genisys

[2016-12-23 11:58] #62 closed

[2016-12-25 21:53] Dog2puppy opened #63 "Poggit is no longer working"
Title says it all! Poggit is down.

[2016-12-25 22:06] Sandertv commented on #63
I'm not sure yeah, sometimes the button does show up properly, sometimes it doesn't. @Magicode1 ! :P

[2016-12-27 15:42] IgniteWhite commented on #63
Yes, I think it's not working.

[2016-12-28 15:15] Dog2puppy commented on #63
It's caused by the switch to a real server, rather than being ran on @SOF3 computer.

[2016-12-28 15:54] kniffo80 opened #64 "Sometimes Entity AI seems not working (not moving / not attackable)"
I'm using **PureEntitiesX** with the **mcpe-1.0** branch of PocketMine-MP and the latest **1.0.0-bug-fixes** branch of PureEntitiesX.

After some time, nearly all entities don't move anymore for a period of time. They're not _attackable_ anymore. I didn't see any clue in the log causing this error. But maybe, this is a known issue.

Reproducable: regulary, but not clue about the error that "freeze

[2016-12-28 15:57] Sandertv commented on #64
Thanks for your report! I think this is because of a creeper trying to explode near you, but those still seem to lag a lot and give errors. I'll look into it!

[2016-12-28 15:59] kniffo80 commented on #64
Maybe ;)

I never saw a creeper explode. They only hit but don't explode - that's what i found out so far.

Maybe it's a good idea to have an own logfile for the plugin which writes debug stuff to the logfile? Good thing about the own logfile: it can be appended to a bug report or feature request ;)

[2016-12-28 16:01] Sandertv commented on #64
Oh that error there, we are not sure what exactly causes this, but we're thinking it has todo with some memory things... Not too sure, we'll see what we can do.

[2016-12-28 16:02] Sandertv commented on #64
And the logfile: I'm not exactly sure how we should do that, but it's quite a nice idea.

[2016-12-28 16:03] kniffo80 commented on #64
I'm not an experienced PHP programmer - only a JAVA programmer. I'll try to look into this issue for myself too.

[2016-12-28 16:04] Sandertv commented on #64
How much RAM/cpu and stuff do you have?

[2016-12-28 16:07] kniffo80 commented on #64
I have a VPS with Ubuntu, 2 vCores and 1 GB of RAM. I have another server where nearly no services are running. I will try to deploy PocketMine-MP and the plugin to this server. Maybe, it's really a matter of free RAM. I don't know. Will report back when I've done so.

[2016-12-28 16:22] kniffo80 commented on #64
After moving whole stuff to my other server, which has 800MB memory left after starting PocketMine-MP - it's the same. I think it has nothing to do with RAM or CPU's ...

I don't like those bugs because they are hard to reproduce without a stack trace :(

[2016-12-28 16:26] Sandertv commented on #64
In fact I think I just realized the problem!

[2016-12-28 16:27] kniffo80 commented on #26
Count me in if you want ;)

[2016-12-28 16:29] Sandertv commented on #64
It might not do anything, but could you try makig the spawning limit in the pocketmine.yml for the mobs higher?

[2016-12-28 16:36] caspervanneck commented on #64
@kniffo80 do yo use genisys or forks

if so dont ese genisys forks

[2016-12-28 16:38] kniffo80 commented on #64
@Sandertv yes i can do so - which value should i try?
@caspervanneck I'm using "vanilla" PocketMine-MP (the 1.0 branch) no Genisys, no other forks. I've tried them all - PocketMine is the most clear

[2016-12-28 16:46] caspervanneck commented on #64
hmm i dont know how to fix it

[2016-12-28 16:47] kniffo80 commented on #64
Regarding the logfile thingy. Add the following line to PureEntites.php class:

`    /**
     * Logs a logline to the plugin's logfile ...
     * @param string $logline	the logline to be appended
     */
    public static function logDebug (string $logline) {
    	file_put_contents('./pureentities_'.date("j.n.Y").'.log', "\033[32m".(date("j.n.Y G:i:s")." [DEBUG] ".$logline."\033[0m\r\n"), FILE_APP

[2016-12-28 16:53] Sandertv commented on #64
Thanks for that!
Just try adding about 30 to all of them, especially animals are important I think.

[2016-12-28 16:54] kniffo80 commented on #64
No problem.

I've set max spawns of all to 100 - doesn't solve the problem :/

[2016-12-28 17:11] Sandertv commented on #64
Alright. Guess that isn't the problem either then.

[2016-12-28 19:28] kniffo80 commented on #64
I'll try to debug that stuff tomorrow - for today I'm going to chill on my couch ;-)

[2016-12-28 19:30] kniffo80 commented on #61
I would call this a more or less a feature list ;) Hi @NycuRO moved to PHP based Pocketmine? ;)

[2016-12-29 09:17] kniffo80 commented on #64
I took a look at the Attribute class in PocketMine-MP, that throws these Exceptions. It seems that the min/max values defined in Attribute class are too high:

[code]

I don't know which attribute it is ... checking now ...

[2016-12-29 09:25] kniffo80 commented on #64
I found the following (after adding more debug to PocketMine-MP):

`[04:20:40] [Server thread/CRITICAL]: InvalidArgumentException: "Value 18 exceeds the range for minecraft:health!" (EXCEPTION) in "/src/pocketmine/entity/Attribute" at line 175`

It seems that the health attribute exceeds the max definition:

`self::addAttribute(self::HEALTH, "minecraft:health", 0.00, 20.00, 20.00);`

But as you ca

[2016-12-29 09:55] NycuRO commented on #61
@kniffo80 I don't understand what you say..

[2016-12-29 09:56] caspervanneck commented on #61
lol

[2016-12-29 10:02] kniffo80 commented on #64
Please update your entity creation. When setting max health, you need to set the health to max health. An example (for Wolf):

[code]

These exceptions don't occur anymore. But it has nothing to do with the "original" bug. Still investigating ...

[2016-12-29 10:03] kniffo80 commented on #61
Nevermind @NycuRO we had contact within Nukkit and another mob plugin ;)

[2016-12-29 10:25] kniffo80 commented on #64
LOL - I found out, that **LostPets** is not working quite good with PureEntitesX :smile:

I deactivated the plugin and now everything seems to work quite fine.

But someone needs to adjust the entities the way i mentioned above. I will do a small checklist here what to be done:

- [ ] when setting maxHealth, also set health to prevent CRIT messages in server log
- [ ] when startTiming is done - so

[2016-12-29 13:12] kniffo80 commented on #64
This can be closed as the pull request has been accepted.

[2016-12-29 13:18] #64 closed

[2016-12-29 14:34] kniffo80 opened #66 "Creeper don't explode and of that don't burst blocks"
This is just a simple question. I've found the following line in the creeper entity class:

`$ev->setBlockBreaking(false); // This should be removed later. There should be a configurable option for this.`

Can anybody tell me, why? I assume because of performance?

Does this project has a gitter room?

[2016-12-29 14:36] caspervanneck commented on #66
yes
it has a giter room

and no its for poeples spawn hubs

[2016-12-29 14:36] caspervanneck commented on #66
@kniffo80

[2016-12-29 14:37] Sandertv commented on #66
There is a gitter button in the README. For the creeper exploding. I've set that block breaking to false for the automatic mob spawning. Until there is configurable block breaking I'm leaving it that way to save people's lobbies.

[2016-12-29 14:39] kniffo80 commented on #66
Thanks @Sandertv and @caspervanneck - this can be closed then. Found the gitter room. Thanks.

[2016-12-29 14:39] Sandertv commented on #66
Alright, no problem.

[2016-12-29 14:39] #66 closed

[2017-01-01 03:11] xZeroMCPE commented on #26
Let me take over this repo for you... Seems inactive!

[2017-01-01 03:12] xZeroMCPE commented on #45
Stupid MobAI's!

[2017-01-01 03:18] jasonwynn10 commented on #26
nope, it's definitely active @xZeroMCPE

[2017-01-01 08:26] Sandertv commented on #26
It's active for sure, most like me are just on vacation and celebrating new year with family and stuff.

[2017-01-01 10:35] caspervanneck commented on #26
@xZeroMCPE  nope never give it to you.  its not dead

[2017-01-01 15:09] srcr opened #71 "API v3.0 not supported"
A bit of an open door IMHO, but the new minecraft clients need PocketMine-MP version 1.6.2dev "Unleashed" (API 3.0.0-ALPHA1) which uses API 3.0 this is not supported yet by PureEntitiesX.

[2017-01-01 15:13] Magicode1 commented on #71
If you compile it from the 1.0 bug fixes branch, it should work.

[2017-01-01 15:22] srcr commented on #71
Indeed that branch works.. I only tried the master.. thanks for the quick response.

[2017-01-01 15:35] Magicode1 commented on #71
No problem! Glad it worked for you!

[2017-01-01 17:40] #71 closed

[2017-01-01 17:59] Sandertv commented on #36
Yep, @jasonwynn10 is correct.

[2017-01-02 14:54] jasonwynn10 commented on #63
until it becomes in working order again, we will just have to compile the plugins using the old fashioned method

[2017-01-02 16:53] Magicode1 commented on #63
I think we just need to re-enable it. Switching it to a VPS must have reset it.

[2017-01-02 16:55] Magicode1 commented on #26
About this repo being inactive... what? A week of no development? I would call that a vacation. I won't be coding anything until tomorrow. Sleep...

[2017-01-02 18:03] Dog2puppy commented on #63
@Magicode1 It did. I had to reenable mine.

[2017-01-03 08:01] ivzakirov commented on #63
Hi everyone. Since poggit is down installation seems to be a bit complicated. I have installed it but pocketmine cant see it. Could you tell me please where is the problem? I wish to hide this into spoiler but cant realized how.

`user@host:~/repo/pmmp$ ls`
_banned-ips.txt      CONTRIBUTING.md  players                 pocketmine.yml  server.properties  start.sh        worlds_
_banned-players.txt

[2017-01-03 09:23] archie426 commented on #63
@ivzakirov Please open this in another issue

[2017-01-03 09:26] archie426 commented on #26
Well I have finished the Revival PMMP website so now I guess it is time to start learning PHP!

[2017-01-03 09:26] Sandertv commented on #26
Awesome, yup it is :P

[2017-01-03 12:15] archie426 commented on #63
Also, poggit is not working for me either, might be worth submitting to issue tracker

[2017-01-03 12:24] Magicode1 commented on #63
I fixed it :)

[2017-01-03 12:24] #63 closed

[2017-01-03 12:52] archie426 opened #75 "Mob interactivity bug"
- [x] This issue isn't duplicated - you can check if it is by using the search bar located at the top left hand corner and select "Issues" on the left.
- [x] This issue includes appropriate markdown for sections - e.g. code blocks for crash dumps.
- [x] This issue is understandable - feel free to use your native language to write issues if you are not comfortable with English.

## Issue descriptio

[2017-01-03 13:08] Magicode1 commented on #75
We (Or I have) seen this before on my machine.

Mobs can sometimes lag when there are too much of them, even in Vanilla Minecraft. When there are a lot of Mobs, and the server lags, it throws an error, because it is PureEntities that is causing the lag. That is what I have seen at least.

[2017-01-03 13:19] archie426 commented on #75
Yeah, makes sense, I killed all the mobs. Maybe it would be god to add a feature that when no one is online, no mobs spawn, because that is why there were so many

[2017-01-03 13:21] Sandertv commented on #75
In fact no monsters spawn when you're offline...

[2017-01-03 13:22] archie426 commented on #75
@Sandertv How come there was so many, I didn't spawn them in

[2017-01-03 13:48] jasonwynn10 commented on #75
I've been working on a safety catch in an attempt to stop this error from happening

[2017-01-03 14:21] Magicode1 commented on #75
@jasonwynn10 Thanks, that should solve it.

[2017-01-03 14:48] ivzakirov opened #76 "Installation guide is not clear enough"
Hi everyone. Since poggit is down installation seems to be a bit complicated. I have installed it but pocketmine cant see it. Could you tell me please where is the problem?

`user@host:~/repo/pmmp$ ls`
_banned-ips.txt      CONTRIBUTING.md  players                 pocketmine.yml  server.properties  start.sh        worlds_
_banned-players.txt  LICENSE          plugins                 README.md

[2017-01-03 14:55] ivzakirov commented on #76
I know that poggit is fixed now but people should have way to install it manually when next poggit problem occurs.

[2017-01-03 14:59] ivzakirov opened #77 "Undefined class constant Data::CAVE_SPIDER"
- [x] This issue isn't duplicated - you can check if it is by using the search bar located at the top left hand corner and select "Issues" on the left.
- [x] This issue includes appropriate markdown for sections - e.g. code blocks for crash dumps.
- [x] This issue is understandable - feel free to use your native language to write issues if you are not comfortable with English.

## Issue descriptio

[2017-01-03 15:00] caspervanneck commented on #76
Nope use devtools @ivzakirov

[2017-01-03 15:07] jasonwynn10 commented on #77
which branch are you using?

[2017-01-03 15:15] ivzakirov commented on #77
cc1b6bf from poggit:
`user@host:~/repo/pmmp/plugins$ md5sum PureEntitiesX.phar `
_be9d76150f061f9f0cf8adebb5256cb7  PureEntitiesX.phar_

[2017-01-03 17:13] archie426 commented on #75
Good will close

[2017-01-03 17:37] jasonwynn10 commented on #75
was the fix tested?

[2017-01-03 17:47] archie426 commented on #75
@jasonwynn10 Oops, my bad

[2017-01-03 19:10] caspervanneck opened #79 "1.0.0 branch its not updated with master"
i need help and it needs to be update  from master branch i restart tomorow

[2017-01-03 21:48] jasonwynn10 commented on #79
WHY DID YOU DELETE THE 1.0.0 BRANCH?!

[2017-01-03 22:05] Sandertv commented on #79
I got it saved locally, it's not gone.

[2017-01-03 22:09] jasonwynn10 commented on #79
was it the latest version?

[2017-01-03 22:10] Sandertv commented on #79
I'm quite sure it is. I'll push it shortly when I'm at my laptop.

[2017-01-03 22:32] Sandertv commented on #79
I re-added the branch. I'm not entirely sure if it's everything, but it should be most of what's done.

[2017-01-04 04:39] ivzakirov commented on #76
Now I got it. I need [devtools](https://github.com/PocketMine/DevTools). Also I know now where to get that zip file: https://github.com/RevivalPMMP/PureEntitiesX/releases
If you are interested to be friendly and allow newbies to contribute (as testers at least) your README should be written for idiots. As much hyperlinks as possible. More and more.
I am not new to github and I know about [Releases

[2017-01-04 07:41] caspervanneck commented on #79
@Sandertv  @jasonwynn10 its not updated with master

[2017-01-04 07:59] caspervanneck commented on #76
@ivzakirov clone it with git

[2017-01-04 08:01] caspervanneck commented on #76
im not the owner so...

[2017-01-04 12:43] #77 closed

[2017-01-04 15:15] Magicode1 commented on #61
Some of the mobs (Guardian, Iron Golem) Won't spawn until structures come out.

[2017-01-04 15:19] jasonwynn10 commented on #61
we can still allow the golem to spawn with its block formation

[2017-01-04 15:21] kniffo80 commented on #61
@jasonwynn10  The 1.0.0-bug-fixes auto spawns golems, if you configure so ;) - was my latest PR

[2017-01-04 15:23] jasonwynn10 commented on #79
the 1.0.0 Branch is for 1.0.0, the master branch of for compatibility with 0.16. We will only merge the 1.0.0 into the master when dktapps finishes releasing the new API

[2017-01-04 15:53] caspervanneck opened #81 "help me"
Warning: file_put_contents(C:\Users\Wesle\Desktop\s server\plugins\PureEntitiesX/config.yml): failed to open stream: No such file or directory in C:\Users\Wesle\Desktop\s server\src\pocketmine\utils\Config.php on line 208

@Sandertv @jasonwynn10

[2017-01-04 19:00] jasonwynn10 commented on #81
I think someone used an incorrect slash in the config...

[2017-01-05 13:33] archie426 commented on #75
Works (I think), closing

[2017-01-05 13:33] #75 closed

[2017-01-05 14:47] #81 closed

[2017-01-05 16:28] archie426 commented on #26
@AppleDevelops Invited

[2017-01-06 18:13] #79 closed

[2017-01-07 12:58] xinghao2003 opened #89 "What's wrong？"
Warning: Declaration of revivalpmmp\pureentities\entity\BaseEntity::entityBaseTick($tickDiff = 1) should be compatible with pocketmine\entity\Living::entityBaseTick($tickDiff = 1, $EnchantL = 0) in C:\Users\UserX\Desktop\PM-MP\plugins\PureEntitiesX-1.0.0-bug-fixes\src\revivalpmmp\pureentities\entity\BaseEntity.php on line 0

[2017-01-07 12:58] Sandertv commented on #89
I'll fix this, it's nothing critical but I've noticed it too.

[2017-01-07 12:59] xinghao2003 commented on #89
ok, thank

[2017-01-07 13:00] Sandertv commented on #89
Fixed! Tell me if you still experience it.

[2017-01-07 13:00] #89 closed

[2017-01-07 17:15] eDroiid commented on #26
i can help with the site and stuff.. :)

[2017-01-07 17:31] archie426 commented on #26
We already have developers for the site, unless you can do JS or PHP?

[2017-01-08 14:46] caspervanneck opened #94 "i hope your happy"
I stop coding why i gone spent time with my dad

[2017-01-08 14:50] jasonwynn10 commented on #94
spam

[2017-01-08 14:50] #94 closed

[2017-01-08 14:56] caspervanneck opened #95 "and why am i not plugin dev"
Why @Magicode1 and this is not spam stop whit closing

[2017-01-08 16:30] archie426 commented on #95
How many times? We aren't going to promote people to a later day

[2017-01-08 16:30] #95 closed

[2017-01-08 16:32] caspervanneck commented on #95
ok i leave

[2017-01-08 16:33] archie426 commented on #95
Ok

[2017-01-08 17:02] archie426 commented on #26
This has moved to email, please contact infohelp@revivalpmmp.gq for help and to apply for staff. Staff abuse can be reported at slt@revivalpmmp.gq

[2017-01-08 17:03] archie426 commented on #26
This will remain opened so people catch all the details

[2017-01-08 17:11] Magicode1 commented on #61
Yeah, I checked all of the redundant ones, like skeleton horses. They aren't supposed to spawn naturally. We can add them later, but we aren't focusing on special mobs right now. We could possibly make another plugin for special mobs, we just need to get a team together to work on it. If you're interested, contact me over the gitter chat.

[2017-01-08 17:27] jasonwynn10 commented on #26
I added that to the top post

[2017-01-09 22:43] NycuRO commented on #61
@Magicode1 You can add in this plugin? Because is MobAI feature..

[2017-01-09 23:59] Magicode1 commented on #61
Depends. I need to see what everyone wants to do.

[2017-01-10 00:18] Magicode1 commented on #61
https://goo.gl/H2AaiX

Please vote there.

[2017-01-14 04:50] TacosYum opened #105 "Fireball issue"
- [x] This issue isn't duplicated - you can check if it is by using the search bar located at the top left hand corner and select "Issues" on the left.
- [x] This issue includes appropriate markdown for sections - e.g. code blocks for crash dumps.
- [x] This issue is understandable - feel free to use your native language to write issues if you are not comfortable with English.

## Issue descriptio

[2017-01-14 14:41] jasonwynn10 commented on #105
According to the commit that was given, you are using the master branch?

[2017-01-14 16:20] TacosYum commented on #105
Oops sorry no it was 73cc288 1.0

[2017-01-14 16:35] jasonwynn10 commented on #105
There shouldn't be any issues. Are you sure that you are using pmmp with API 3.0.0-ALPHA2 ?

[2017-01-14 19:42] TacosYum commented on #105
Yes

[2017-01-15 00:55] TacosYum commented on #105
Wait no I'm using Apples Genisys Spoon Tesseract

[2017-01-15 00:55] TacosYum commented on #105
Could that be a issue?

[2017-01-15 01:04] Magicode1 commented on #105
Definitely. We don't promise any Spoon compatibility.

[2017-01-15 02:48] starterdragon opened #108 "WORLD array"
- [x ] This issue isn't duplicated - you can check if it is by using the search bar located at the top left hand corner and select "Issues" on the left.
- [x ] This issue includes appropriate markdown for sections - e.g. code blocks for crash dumps.
- [x ] This issue is understandable - feel free to use your native language to write issues if you are not comfortable with English.

Make an array of

[2017-01-15 03:34] jasonwynn10 commented on #108
This doesn't follow the issue tracker me is Invalid
Closing

[2017-01-15 03:34] #108 closed

[2017-01-15 19:23] #105 closed

[2017-01-15 19:31] jasonwynn10 commented on #105
@Magicode1 no one ever reads the readme...

[2017-01-16 13:24] archie426 commented on #105
@jasonwynn10 Yep. You wonder how people who don't actually make accounts on GitHub -_-

[2017-01-18 15:05] jasonwynn10 commented on #61
@Magicode1 what were the vote results?

[2017-01-18 15:20] jasonwynn10 commented on #33
Please test the plugin and tell us if the issue is resolved

[2017-01-18 15:23] jasonwynn10 commented on #36
I just realised that this is a duplicated issue #33

[2017-01-18 15:23] #36 closed

[2017-01-18 15:24] #1 closed

[2017-01-18 15:26] jasonwynn10 commented on #12
all are added, they need implemented on the NewMobs branch

[2017-01-18 15:26] #12 closed

[2017-01-20 12:34] xinghao2003 opened #114 "Some Bug in MCPE 1.0"
- [ ] This issue isn't duplicated - you can check if it is by using the search bar located at the top left hand corner and select "Issues" on the left.
- [x] This issue includes appropriate markdown for sections - e.g. code blocks for crash dumps.
- [x] This issue is understandable - feel free to use your native language to write issues if you are not comfortable with English.

## Issue descriptio

[2017-01-20 13:53] #114 closed

[2017-01-21 23:33] NycuRO commented on #61
Updated. @Magicode1 @kniffo80 @Sandertv

[2017-01-21 23:39] jasonwynn10 commented on #61
@NycuRO I removed some of those things because this isn't PC minecraft. We are trying to match up the AI to Vanilla Pocket Edition Minecraft.

[2017-01-21 23:39] NycuRO commented on #61
@jasonwynn10 Uses same code ,but in C++.

[2017-01-21 23:41] jasonwynn10 commented on #61
It doesn't work that way 100% though, so it is better for us to attempt to use PE Minecraft as much as possible rather than PC

[2017-01-21 23:43] NycuRO commented on #61
@jasonwynn10 Decompile MCPE and watch code ;) It's same but in c++ with minors modification for MCPE.

And Support for Entity Items like Boats and other? :)

[2017-01-21 23:46] NycuRO commented on #61
Added 38. Pig features.

[2017-01-24 15:09] kniffo80 commented on #51
It's already fixed on 1.0.0-bug-fixes. Can be closed as soon as the https://github.com/RevivalPMMP/PureEntitiesX/pull/112 is merged!

[2017-01-24 19:38] archie426 commented on #51
@kniffo80 And as soon as I figure out how to work these conflicts

[2017-01-24 19:58] kniffo80 commented on #51
@archie426 you want to merge into master? You need help?

[2017-01-24 19:59] jasonwynn10 commented on #51
@archie426 @kniffo80 I think that we shouldn't try merging into the master until PocketMine's API 3 is completed

[2017-01-25 08:02] archie426 commented on #51
@kniffo80 No, I was just pre-thinking about how to do it..... It is quite complicated, but yeah, have a go if you want to of course

[2017-01-25 14:48] jasonwynn10 commented on #51
@archie426 I think my code cleanup may help with that

[2017-01-25 15:31] archie426 commented on #51
@jasonwynn10 Yeah it should

[2017-01-27 05:46] GGinChi-Ibook opened #118 "Debug"
[Server thread/CRITICAL]:
 Could not execute task revivalpmmp\pureentities\task\AutoSpawnAnimalTask: Argument 1 passed to revivalpmmp\pureentities\entity\animal\walking\Sheep::__construct() must be an instance of pocketmine\level\format\FullChunk, instance of pocketmine\level\format\Chunk given, called in /root/first01/src/pocketmine/entity/Entity.php on line 513
TypeError: "Argument 1 passed to r

[2017-01-27 08:03] archie426 commented on #118
Your details are incorrect, please change them

[2017-01-27 08:32] GGinChi-Ibook commented on #118
@archie426 when spawn sheep,  "Argument 1 passed to revivalpmmp\pureentities\entity\animal\walking\Sheep::__construct() must be an instance of pocketmine\level\format\FullChunk, instance of pocketmine\level\format\Chunk given, called in C:\Users\15426\Desktop\Gen\src\pocketmine\entity\Entity.php on line 608" (EXCEPTION) in "/plugins/PureEntitiesX_Dev/src/revivalpmmp/pureentities/entity/animal/walk

[2017-01-27 08:35] GGinChi-Ibook commented on #118
@archie426 i update this to 0.1.2 it waring

[2017-01-27 08:35] GGinChi-Ibook commented on #118
Warning: Declaration of revivalpmmp\pureentities\entity\BaseEntity::entityBaseTick($tickDiff = 1) should be compatible with pocketmine\entity\Living::entityBaseTick($tickDiff = 1, $EnchantL = 0) in C:\Users\15426\Desktop\Gen\plugins\PureEntitiesX-1.0.0-bug-fixes\src\revivalpmmp\pureentities\entity\BaseEntity.php on line 0

[2017-01-27 11:18] jasonwynn10 commented on #118
This is an invalid issue because it doesn't follow the template

[2017-01-27 11:18] #118 closed

[2017-01-27 20:11] kniffo80 commented on #16
Working on this currently - just FYI. I can tame wolves now and they follow the player, also when logging in back again and after server shutdown. But it needs a lot of work. Stay tuned ;-)

[2017-01-28 05:41] JunkDaCoder commented on #118
can confirm this isssue though

[2017-01-28 08:42] kniffo80 commented on #118
Which server is used? Pocketmine or any other derivate?

[2017-01-28 23:25] jasonwynn10 opened #119 "AutoSpawnTask Errors"
- [x] This issue isn't duplicated - you can check if it is by using the search bar located at the top left hand corner and select "Issues" on the left.
- [x] This issue includes appropriate markdown for sections - e.g. code blocks for crash dumps.
- [x] This issue is understandable - feel free to use your native language to write issues if you are not comfortable with English.

## Issue descriptio

[2017-01-30 15:54] axs-gentoo commented on #119
It looks like this is triggered by the line:  $y = $level->getHighestBlockAt($x, $z);  in AutoSpawnTask.php's onRun() function.  The line right after this uses x/y/z to correct the position using getFirstAirAbovePosition(), with a comment that says getHighestBlockAt() doesn't work.

I've tested using $y = $player->y instead, and it eliminates the error.  I don't know if this has resulted in mobs s

[2017-01-30 17:00] axs-gentoo commented on #61
I noticed in the world i've got that pigs, cows, pretty much everything likes to climb trees (the terrain is hilly and so there are lots of places where players can regularly do a one-block jump and be walking on a tree).  Is this something the MobAI should be adjusted for?

[2017-01-30 17:24] archie426 commented on #61
@axs-gentoo Probably irrelevant, what PMMP version are you using, are you using a spoon/fork?

[2017-01-30 17:34] jasonwynn10 commented on #119
the reason this is an error is because it is trying to get the block one coord above the top of the world. it should start at 0 instead

[2017-01-30 17:40] axs-gentoo commented on #61
PMMP, git master as of Jan.27 (API 3.0.0-ALPHA3) , git checkout of PureEntitiesX that matches (and whatever CI DevTools build I could find that did API3.0.0-ALPHA3).

It doesn't seem like a bug but rather a possible new feature -- the tree "climbing" is a valid movement so long as the MobAI isn't set to avoid blocks of type leaves (or whatever it'd be called).

[2017-01-30 17:43] axs-gentoo commented on #119
Should the code just set $y=0 every time then?

[2017-01-30 17:58] Sandertv commented on #61
As far as I know nobody fixed the wall climbing from entities yet. The AI isn't exactly perfect yet.

[2017-01-30 19:57] jasonwynn10 commented on #119
I need to look at it more to decide. I have to take cave generation into account

[2017-01-30 20:00] kniffo80 commented on #119
I will comment this here tomorrow. Just one thing: setting always y=0 will fail in 90% of all spawns! Also setting y to player's y coordinate will fail when spawning in non-flat maps! Remember - y is the HEIGHT!

[2017-01-30 22:36] jasonwynn10 commented on #119
yes, so if we are trying to find the nearest air block above the specified coords, then why are we starting at the top of the world?

[2017-01-31 08:31] kniffo80 commented on #119
Okay - some more comments from my side.

1. y Axis is the height Axis - which means when setting always y=0 will fail in 99% of all time. Water level is 60 i think (or 62?) - so setting y=0 each time doesn't work.
2. setting y-coordinate to player's y-coordinate will fail in most cases when there are some "hills" around e.g.
3. yes, highest block doesn't make that sense - i'll implement a new meth

[2017-01-31 09:43] kniffo80 commented on #119
I've pushed a bugfix for this on https://github.com/RevivalPMMP/PureEntitiesX/pull/121

Please check and merge if possible.

[2017-02-01 09:47] kniffo80 commented on #119
Anybody checked with latest 1.0.0-bug-fixes that auto spawn works correctly now?

[2017-02-01 11:53] jasonwynn10 commented on #119
I'll be testing later today

[2017-02-02 08:39] TheClimbing opened #126 "Genesis Error"
- [x] This issue isn't duplicated - you can check if it is by using the search bar located at the top left hand corner and select "Issues" on the left.
- [x] This issue includes appropriate markdown for sections - e.g. code blocks for crash dumps.
- [x] This issue is understandable - feel free to use your native language to write issues if you are not comfortable with English.

## Issue descriptio

[2017-02-02 08:53] kniffo80 commented on #126
I encountered this using e.g. Genisys - but not with original PocketMine-MP! Which server are you running?

[2017-02-02 08:56] TheClimbing commented on #126
Actually yes that's Genisys, I should have said

[2017-02-02 08:59] kniffo80 commented on #126
So this plugin is mainly for PocketMine-MP. Please use this server software with this plugin. Anyway - when the merge from 1.0.0-bug-fixes is done into master, I can update the method in the BaseEntity so that it can be used also with Genisys and other forks. Meanwhile you should use PocketMine-MP :smile:

[2017-02-02 16:57] archie426 commented on #126
Please do not always expect support for 3rd party builds, however

[2017-02-03 14:23] kniffo80 commented on #126
@TheClimbing please check with latest master if this still occurs. I've checked the latest master branch on latest Genisys master - everything fine for me now.

[2017-02-03 14:24] kniffo80 commented on #119
So I think we can close this issue? I've tested it with a new map / existing map with latest master. I don't get this error anymore (because the spawning mechanism now doesn't use getHighestBlock anymore).

@jasonwynn10 what do you think?

[2017-02-03 14:25] kniffo80 commented on #51
This can be closed - it's fixed on MASTER.

[2017-02-03 14:52] #51 closed

[2017-02-03 14:53] jasonwynn10 commented on #119
seems good to me

[2017-02-03 14:53] #119 closed

[2017-02-03 15:15] axs-gentoo commented on #119
This particular error may have been addressed but my tests of the current code throw a ton (same one just repeated a lot) of different exception, do we open a new issue or try to fix the commits on this one?  I don't have access to my logs right now but I can post to this issue or a new one once I do.

[2017-02-03 15:17] kniffo80 commented on #119
@axs-gentoo Without a Logfile (or log output) it would be hard to address the issues :smile:

So when this is resolved - and you get some other exceptions - open a new issue. We can investigate on that then. Thanks for testing and reporting back!

[2017-02-03 15:18] kniffo80 commented on #126
@TheClimbing also tested the plugin together with latest master of Elywing. Working quite fine - the exceptions are gone (because the BaseEntity and some other have been updated to support the new parameter).

[2017-02-06 14:03] archie426 commented on #45
@Magicode1 Unless we make it so if there is only 1 or 2 blocks below them

[2017-02-06 14:45] jasonwynn10 commented on #45
we can add a check that when the entity sets a target to move to, anywhere in the path of movement, if there are 4 air spaces under them the mom won't move in the first place

[2017-02-06 15:31] Magicode1 commented on #45
I like that idea.

[2017-02-06 20:44] #126 closed

[2017-02-07 19:46] kniffo80 commented on #16
A little follow-up on this (sorry for delay):

https://github.com/kniffo80/PureEntitiesX/tree/kniffo80

Still under development. Will merge later when tested and bugfixed enough.

[2017-02-09 19:20] kniffo80 commented on #20
... can be closed ...

[2017-02-10 09:15] LordJoshie opened #133 "Question"
You had a fork called 1.0.0 bug fixes, or something like that... I'm currently using it, it seems fine... but the master branch is messed up and throws a lot of bugs on Tesseract.

Any way to ensure compatibility with Tesseract, or do you know of the branch I'm referring to?

[2017-02-10 10:28] kniffo80 commented on #133
Before this will get closed - you are not using issue template - just a few words on this.

Using other than PocketMine-MP is currently not really supported by us. I have a testserver running remotely which uses PocketMine-MP or Elywing together with the master branch of PureEntitiesX. I've not seen any issues regarding the plugin.

So, please use PocketMine-MP (the "original" software) together w

[2017-02-10 10:32] LordJoshie commented on #133
Thanks, and that sounds cool

also, I wasn't reporting an issue... I was asking a question, and just
letting you know why I wasn't using the master branch.

Regardless, this is all very cool, and I look forward to seeing more
progress in the future.

Elywing isnt PMMP, and Tesseract is better than Elywing... so... why would
you use Ely over Tess, if using anything other than Pmmp...

:)

On Feb 10

[2017-02-10 10:49] kniffo80 commented on #133
Thanks for reporting. Just stay tuned. Implementing Mob AI is not an easy one :relaxed:

[2017-02-10 10:55] LordJoshie commented on #133
I'll certainly stay tuned. and check daily for updates. Ill test and report
when what Im using is relevant.

the branch im using had been deleted... so what I have is irrelevant.

but yeah, for those who are working on this project... good work, and keep
it up ! this is huge for pmmp

On Feb 10, 2017 5:49 AM, "Michael Gertz" <notifications@github.com> wrote:

[2017-02-10 11:33] jasonwynn10 commented on #133
@kniffo80 if you look at the most recent travis build, there was an issue that travis put out

[2017-02-10 12:14] kniffo80 commented on #133
Will take a look asap

[2017-02-10 13:11] kniffo80 commented on #133
@jasonwynn10 as far as i can see, the travis build fails because the DevTools isn't compatible with the current PocketMine-MP API ... not by the Code of the plugin!

[2017-02-10 14:00] jasonwynn10 commented on #133
https://travis-ci.org/RevivalPMMP/PureEntitiesX/builds/200224579#L713

[2017-02-10 14:59] kniffo80 commented on #133
:thumbsup:

[2017-02-10 18:46] Starflux opened #134 "REQUEST - config to list worlds in which to enable the plugin"
- [x ] This issue isn't duplicated - you can check if it is by using the search bar located at the top left hand corner and select "Issues" on the left.
- [x ] This issue includes appropriate markdown for sections - e.g. code blocks for crash dumps.
- [x ] This issue is understandable - feel free to use your native language to write issues if you are not comfortable with English.

## Issue descrip

[2017-02-10 19:20] Sandertv commented on #134
Take a look at the latest commit at PEXProtection. It adds a command (/pexp disableworld <name>) which should hopefully work for you. Good to hear you're having a good time using the plugin!

[2017-02-10 19:20] #134 closed

[2017-02-10 20:56] archie426 commented on #133
Anyways, please ask questions on our forums (Link in readme)

[2017-02-10 20:56] #133 closed

[2017-02-10 20:59] kniffo80 commented on #16
Still working on that. Found a lot of performance issues. Need to fix them.

targetOption e.g. is used excessive - mostly to find out about the Interactive tag. I found a better and a lot safer way for getting to know, if a button text is shown or not.

So - a little tired now. But the next pull request will be a really big one :/

[2017-02-10 21:26] Starflux commented on #134
thankyou that is exactly what i was after.

been through about 60 plugins over the last week and i am obviously missing the basics of reading properly.

[2017-02-10 21:38] Starflux commented on #134
I just tested and other than repackaging as API 3.0.0-ALPHA3 it works perfectly.

thankyou soo much for the quick response.

[2017-02-10 21:42] Sandertv commented on #134
Alright, good to hear!

[2017-02-11 02:49] LordJoshie commented on #61
Whats the most amount of plugins you're aware of on a public server ?

My server is world rank #25, pretty modest, got a decent little community... around 70 plugins.

I'd like to take part in testing this on a fork of pmmp using Genisys/PMMP code.

Some of you may already know of Tesseract...

I'd love to feature this on my server, and can test any platform you'd like.

I prefer Tesseract, but I

[2017-02-11 03:12] AppleDevelops commented on #61
Yo know, you could open an issue on the Tesseract GitHub, and I'd add support no need to spam it here

[2017-02-11 03:35] LordJoshie commented on #61
Hey Applqpak ! I didnt know you checked on this xD

And okay, shall do my good sir !

I just tend to request that a plugin be compatible with a platform, opposed
to the platform being compatible with plugin.

Either or works fine for me, the combination of Tess & Revival Entities =
an amazing vanilla server :D

On Feb 10, 2017 10:12 PM, "Apple" <notifications@github.com> wrote:

[2017-02-11 13:19] jasonwynn10 commented on #61
@LordJoshie I think you have the wrong person... lol @AppleDevelops is not appleqpak

[2017-02-11 13:24] LordJoshie commented on #61
Then I do.

Thought it was...

On Feb 11, 2017 8:20 AM, "jasonwynn10" <notifications@github.com> wrote:

[2017-02-11 13:39] Starflux commented on #134
apologies it seems i did not test it thoroughly, i was still had radius configurations within my config.yml.

i have since done a fresh install and disabled my worlds although on reload the pure entities have spawned.

it seems it was my radius configs that were working earlier.

the console gives the following:

Notice: Undefined index: radius in phar:///opt/PocketMine-MP-master/plugins/phar

[2017-02-11 14:11] Sandertv commented on #134
I've made a new commit that should hopefully fix your issue.

[2017-02-11 14:29] Starflux commented on #134
Works a treat now thank you again for your time.

[2017-02-11 14:30] Sandertv commented on #134
Alright, great! Feel free to tell me if you encounter anymore issues!

[2017-02-12 23:08] eDroiid commented on #26
Ik PHP and js also sorry for late resp

[2017-02-13 13:25] archie426 commented on #26
@eDroiid No problem. I will invite you now

[2017-02-14 22:33] jasonwynn10 opened #135 "Preparations for the new entity concept"
- [x] This issue isn't duplicated - you can check if it is by using the search bar located at the top left hand corner and select "Issues" on the left.
- [x] This issue includes appropriate markdown for sections - e.g. code blocks for crash dumps.
- [x] This issue is understandable - feel free to use your native language to write issues if you are not comfortable with English.

## Issue descriptio

[2017-02-15 08:14] erickwoc commented on #44
the same as you

[2017-02-17 17:23] NycuRO commented on #61
My issue is very best xD ,not closed xD

[2017-02-17 19:20] NycuRO opened #137 "Bug task"
[code]

Version: 1.0.3
Ubuntuu 14.04.5 LTS 64bit

Uses: https://github.com/RevivalPMMP/PureEntitiesX/commit/fc79f0344c16a075dbed87363e96b597882e2ce8

[2017-02-17 19:25] NycuRO commented on #61
Added 39 and 40.

[2017-02-17 19:41] kniffo80 commented on #137
Interesting ... I've also Tesseract running with latest master. I do not have this exception ... Are you using master branch of both?

[2017-02-17 19:56] NycuRO commented on #137
Master.

[2017-02-17 19:56] jasonwynn10 commented on #61
@NycuRO This list is long enough. Please leave anything found to be new for new issues.

[2017-02-17 20:03] NycuRO commented on #61
@jasonwynn10 Why? :D

[2017-02-17 20:17] jasonwynn10 commented on #61
Multiple issues are easier to manage rather than having one that contains everything. We can also label them by priority if there are multiple

[2017-02-17 20:39] AppleDevelops commented on #137
Also unable to reproduce

[2017-02-17 20:46] NycuRO commented on #137
@AppleDevelops I don't watch how reproduce, i'm on in server, and show that error on console. Not spam, show 1 times.

[2017-02-18 08:09] LagHD opened #138 "EnderCrystals"
We need ender crystals to place and to explode, thanks!

[2017-02-18 08:16] LagHD opened #139 "We cant ride Horses :("
We can't Tame or Ride Horses 😢

[2017-02-18 08:29] #139 closed

[2017-02-18 08:29] archie426 commented on #139
Moved to bug lidt

[2017-02-18 08:32] archie426 commented on #16
This is moved to bug list

[2017-02-18 08:32] #16 closed

[2017-02-18 10:39] NycuRO commented on #61
Added 41,42. And @jasonwynn10 Is more easy in one issue. Fix issue at a time.

[2017-02-18 16:16] NycuRO commented on #61
Added 43.

[2017-02-18 17:48] kniffo80 commented on #137
Maybe its a timing problem. This may be the reason for this only coming up once.

[2017-02-18 17:49] kniffo80 commented on #61
@NycuRO can you describe #41 eventually a little bit more in detail? I don't understand correctly.

[2017-02-18 18:17] LordJoshie commented on #61
where are these latest changes being applied to ?

Not in the main branch ? ...

[2017-02-18 18:27] kniffo80 commented on #61
At the moment latest is master yes. Currently working in branch "kniffo80"

[2017-02-18 19:32] Sandertv commented on #61
@kniffo80 Basically when feeding an animal, it keeps showing these heart particles above the animal that has been fed every second or so, which makes it possible to see which animal is still 'seeking' a partner.

[2017-02-18 20:33] kniffo80 commented on #61
Ahhhh now i understand. But this is what wiki says: http://minecraft.gamepedia.com/Breeding

This here: **Animals that are in love mode emit heart particles constantly.**

[2017-02-18 23:33] NycuRO commented on #61
@kniffo80 test on singleplayer.

[2017-02-19 10:14] kniffo80 commented on #61
What do the others say? I can remove that of course. But it's the way it's meant to be ... or not?!

[2017-02-19 10:28] NycuRO commented on #61
@kniffo80 test on singleplayer breeding.

[2017-02-19 10:37] NycuRO commented on #33
Resolved, please close.

[2017-02-19 10:38] NycuRO commented on #10
@kniffo80 Please you can fix that? Is very important feature.

[2017-02-19 10:48] NycuRO commented on #61
Update 43, added 44.

[2017-02-19 10:52] kniffo80 commented on #61
@NycuRO regarding the love mode emitting thing - i will make it configurable

[2017-02-19 11:03] NycuRO commented on #61
@kniffo80 Ok

[2017-02-19 11:11] #33 closed

[2017-02-19 11:14] kniffo80 commented on #10
Puh, I'm not that good in maths :smile: but i can give it a try. It's already on my list for the things next to be done.

[2017-02-21 12:50] kniffo80 commented on #137
I'll close this issue as no one (including NycuRO) can reproduce this.

[2017-02-21 12:50] #137 closed

[2017-02-21 12:51] kniffo80 commented on #44
Is this still valid?

[2017-02-21 12:52] kniffo80 commented on #13
Should be fixed with latest PR (https://github.com/RevivalPMMP/PureEntitiesX/pull/141). After this got merged, maybe this can be closed - as walking entities then can "walk" through water ...

[2017-02-21 13:15] NycuRO commented on #137
@kniffo80 Sorry, i'm used: kniffo80 branch.

[2017-02-21 13:34] NycuRO opened #142 "Animals spawn in nether and Bug with Blaze"
@kniffo80

Sorry, but not need steps here or reproduce.

[Tesseract] [15:20:46] CRITICAL> Could not tick level "nether": Call to undefined method revivalpmmp\pureentities\entity\monster\flying\Blaze::isCheckTargetAllowedBySkip()
[Tesseract] [15:20:46] CRITICAL> Could not tick level "nether": Call to undefined method revivalpmmp\pureentities\entity\monster\flying\Blaze::isCheckTargetAllowedBySkip()

[2017-02-21 13:37] NycuRO commented on #142
And other animals spawn in nether, wtf?: @kniffo80

![image](https://cloud.githubusercontent.com/assets/13573011/23167026/ab4467cc-f84b-11e6-8f55-b4088669d255.png)

[2017-02-21 13:42] kniffo80 commented on #142
You know the issue template? And be polite please ... WTF is NOT polite. I NEVER played in nether. And please choose a correct title ... ERROR is not a title :rage:

I'll change title and re-check the spawning later. First, the actual PR needs to get merged to master. Then, I'll reformat the complete code and THEN i'll go for this ...

[2017-02-21 13:44] kniffo80 commented on #137
I use that too with Tesseract (latest master) and I'm not getting this error. So is this still valid?

[2017-02-21 13:44] NycuRO commented on #142
Man, please fix error, spam console :/ @kniffo80 (first)

[2017-02-21 13:47] kniffo80 commented on #142
I'll fix the first issue and push another commit to the actual PR. Be patient!

[2017-02-21 13:54] kniffo80 commented on #142
This should fix the issue (tested right now with spawning simply a blaze): https://github.com/RevivalPMMP/PureEntitiesX/pull/141/commits/c3a43bfc1bb4657a65b89a79ec6f19e6664395ed

[2017-02-21 14:07] NycuRO commented on #142
Ok @kniffo80 . I test in 10mins.

[2017-02-21 14:13] caspervanneck commented on #142
Hi

[2017-02-21 14:46] kniffo80 commented on #142
Latest commit in https://github.com/RevivalPMMP/PureEntitiesX/pull/141 has a commit that should now spawn correct entities in nether (as I assume that Biome::HELL is nether). So just try it out :smile:

[2017-02-21 15:00] NycuRO commented on #142
Yes :)

[2017-02-21 15:00] #142 closed

[2017-02-22 12:13] NycuRO opened #143 "TODO for height, weight and eyeheight? Baby's"
@kniffo80 For height, weight and eyeheight need add one function.

Like in java:
"
    @Override
    public float getEyeHeight() {
        return 0.9f;
    }
"

This is very necesary. This method is now incorrect.

If exist baby's add to function like that:

"
    @Override
    public float getHeight() {
        if (this.isBaby() {
            return 0.9f;
        } else {
            return 0.4f;

[2017-02-22 12:24] kniffo80 commented on #143
This will be a bigger code change. As height etc. pp are defined in variables only - there's no method that can be used now. So it will be a bigger change - at least in the plugin. And again: you show me code from somewhere and it's again JAVA ...

And again - I know this plugin is far from being perfect.

But answer one question: why do we need that at the moment? You say: "This is very necessary

[2017-02-22 12:31] kniffo80 commented on #143
Take a look at the BreedingExtension class, function setAge: there the height and width of the entity is already set when baby and reset when adult:

[code]
And as far as i can see the eye height is not used anywhere at the moment. Of course, when eye height is used we need to implement also eye height.

[2017-02-22 12:36] NycuRO commented on #143
@kniffo80 It's more useful this method. Now .... it's broken and get errors... ( not in code, in movement and riding ).

[2017-02-22 12:39] kniffo80 commented on #143
You can ride? Interesting ... :smile:

Can you provide more information? Because "Now ... its broken and get errors" is not sufficient.

[2017-02-22 12:41] NycuRO commented on #143
Watch on code MCPC ( it's same MCPE. I know that ) and watch why is implemented that's.

[2017-02-22 12:42] kniffo80 commented on #143
So when it's the same - we could use the complete code to host a MCPE server? When it's the same - why not using directly that code? Why are we doing this here?

[2017-02-22 17:14] NycuRO commented on #143
@kniffo80 Ok, your oppinion.

[2017-02-22 17:14] #143 closed

[2017-02-22 18:00] NycuRO commented on #61
Added 46, 47, 48 , 49, 50, 51.

[2017-02-22 18:06] jasonwynn10 commented on #61
If you want the list to be worked on, stop adding to it.

[2017-02-22 18:26] NycuRO commented on #61
Added 52

[2017-02-22 21:09] NycuRO commented on #61
Added 53. @kniffo80

[2017-02-22 21:17] kniffo80 commented on #61
53: if $player->getName() equals "NycuRO" then entity->boom()

52: no comment

xx: why are you tagging me every time? As you may read - I am already assigned to this. So each and every thing added / removed / replaced I will be notified about

[2017-02-22 21:24] NycuRO commented on #61
Oh, sorry.

[2017-02-23 05:36] axs-gentoo opened #144 "Bump API to 3.0.0ALPHA4"
Latest PMMP master bumped their API again; it includes non-trivial changes and so at least uses of pocketmine\level\format\Chunk needs to be converted to other objects.  Here's a quick error log from an attempt at using it today:
[code]

[2017-02-23 08:12] kniffo80 commented on #144
True. Saw this already. I hopefully can update the plugin without any hassle.

[2017-02-23 08:20] kniffo80 commented on #144
Added more commits on actual PR - this includes a small change for spawning to be aligned with latest master PMMP. You may try: https://github.com/RevivalPMMP/PureEntitiesX/tree/kniffo80

[2017-02-23 08:29] kniffo80 commented on #61
@NycuRO please try latest https://github.com/RevivalPMMP/PureEntitiesX/tree/kniffo80 for number 53 - i checked it now multiple times. For me, creepers don't explode anymore when killed. And you have to use latest master of PMMP as Tesseract has old spawning with chunk - i adapted the plugin for latest PMMP master.

[2017-02-23 08:37] kniffo80 commented on #61
@NycuRO i investigated on number 52 - again it's tesseract defining one more constructor variable. In PMMP it's not like it's in tesseract. So please use PMMP if possible.

[2017-02-23 11:47] jasonwynn10 commented on #61
We <i>did</i> say that we wouldn't give official support for anything but pmmp

[2017-02-23 11:55] LordJoshie commented on #61
pmmp isnt as progressed as some other utincels of pmmp.

perhaps try to be as versatile as possible.

is it actually thaaaaat much more difficult to add compatibility with a
type of software that is very near the same ?

On Feb 23, 2017 6:47 AM, "jasonwynn10" <notifications@github.com> wrote:

[2017-02-23 11:57] Sandertv commented on #61
You don't get how annoying it is to make a plugin work with two softwares that have different API until you do it yourself. We don't want to encourage people using 'spoons' from PMMP either.

[2017-02-23 11:58] kniffo80 commented on #61
@LordJoshie yeah, we try. But sometimes, the functions are not compatible. Then, it's not possible to maintain, even when they're nearly the same. E.g. ExplosionPrimeEvent constructor. Not possible to use Tesseract and PMMP. Just an example.

[2017-02-23 12:05] LordJoshie commented on #61
Fair. I feel you guys...trust me. you don't know the struggle I face
setting up and maintaining my server when I have no clue what I'm doing...
I just know trial and error and eventually I get results close to what I
want and work with it.

been doing alright so far xD

Not sure the age group here, but I feel old... I'm 26, and a noob when it
comes to this stuff. I just try to stay in the loop so

[2017-02-23 12:20] Tolo0 opened #145 "Flying Entities"
I keep getting console errors with flying entities.

CRITICAL]: Could not tick level "nether": Call to undefined method revivalpmmp\pureentities\entity\monster\flying\Ghast::isCheckTargetAllowedBySkip()

[2017-02-23 12:22] Tolo0 commented on #145
And a crash dumb for a different error

Error: Call to a member function isBaby() on null
File: /plugins/PureEntitiesX.phar/src/revivalpmmp/pureentities/entity/animal/walking/Sheep
Line: 153
Type: notice

THIS CRASH WAS CAUSED BY A PLUGIN
BAD PLUGIN : PureEntitiesX v0.1.2_dev

Code:
[144]                 $this->checkBlockOfInterest();
[145]             }
[146]             // and of course, we shou

[2017-02-23 12:25] kniffo80 commented on #145
Will check asap

[2017-02-23 13:12] kniffo80 commented on #145
Please try out https://github.com/RevivalPMMP/PureEntitiesX/tree/kniffo80

I took a look at the code ... please use the latest branch - it will be (hopefully) merged back to master soon. And **please** report back if it works! Thanks!

[2017-02-23 13:13] kniffo80 commented on #144
API is already bumped to 3.0.0ALPHA4 in latest PR!

[2017-02-23 14:05] Tolo0 commented on #145
new error from that branch

CRITICAL]: Could not execute task revivalpmmp\pureentities\task\AutoSpawnTask: Argument 2 passed to pocketmine\entity\Entity::createEntity() must be an instance of pocketmine\level\format\Chunk, instance of pocketmine\level\Level given, called in phar:///home/tolo/temp/plugins/PureEntitiesX-new.phar/src/revivalpmmp/pureentities/PureEntities.php on line 222
[14:03:35] [S

[2017-02-23 14:12] kniffo80 commented on #145
Use PMMP please ...

[2017-02-23 18:01] kabluinc opened #147 "Error spamming in console"
This error keeps spamming in console randomly

`2017-02-23 [17:59:08] [Server thread/CRITICAL]: Could not execute task revivalpmmp\pureentities\task\InteractionTask: Start block missed in BlockIterator
2017-02-23 [17:59:08] [Server thread/CRITICAL]: InvalidStateException: "Start block missed in BlockIterator" (EXCEPTION) in "/src/pocketmine/utils/BlockIterator" at line 169`

Also some entities lik

[2017-02-23 18:30] kniffo80 commented on #61
@NycuRO the ExplosionPrimeEvent thing should be fixed on kniffo80 branch - please check!

[2017-02-23 18:35] kniffo80 commented on #145
@Tolo0 i have made a (imho) little hack to support spawning in tesseract too. Please try latest kniffo80 branch! And report back please!

[2017-02-23 18:54] kabluinc commented on #147
That error above is fixed in your latest PR. But a new issue has arised. a new config is not created if old one is deleted. even after a server restart.

This error shows

`Warning: yaml_parse(): end of stream reached without finding document 0 in C:\Desktop\New folder (100001)\src\pocketmine\utils\Config.php on line 143`

[2017-02-23 19:07] kniffo80 commented on #147
Please make a new issue for that. Will close this one. Thanks.

[2017-02-23 19:07] #147 closed

[2017-02-24 05:35] daniktheboss opened #149 "Could not tick world"
[21:33:00] CRITICAL> Could not tick level "world": Call to undefined method revivalpmmp\pureentities\entity\monster\flying\Ghast::isCheckTargetAllowedBySkip()

[2017-02-24 06:53] Sandertv commented on #149
See #145

[2017-02-24 06:53] #149 closed

[2017-02-24 06:54] daniktheboss commented on #149
Oops... I looked but I guess I'm blind. Thanks

[2017-02-24 14:44] Tolo0 commented on #145
@kniffo80  It works ok. i just get 1 error.

Server thread/CRITICAL]: Could not execute task revivalpmmp\pureentities\task\InteractionTask: Start block missed in BlockIterator
[14:37:32] [Server thread/CRITICAL]: InvalidStateException: "Start block missed in BlockIterator" (EXCEPTION) in "/src/pocketmine/utils/BlockIterator" at line 169

[2017-02-24 14:48] kniffo80 commented on #145
This is something coming from server. At the moment, I don't know. But the exception is catched in latest master - so it doesn't influence anything more than just printing out the message.

[2017-02-24 14:49] kniffo80 commented on #145
This is the code that does it (from PMMP):

[code]

When no start block was found, the Exception is thrown but catched in the plugin classes. So it shouldn't harm. Just a little irritating.

[2017-02-24 15:02] Tolo0 commented on #145
It still is a great plugin and i love the way u can disable mobs spawning in certain worlds iv been looking for a mob plugin that can do this for months.

[2017-02-24 20:23] NycuRO commented on #61
Fixed 53, added 54 and 55.

[2017-02-24 20:28] kniffo80 commented on #61
For 54 I know. For 55 - it moves instantly to your location when it gets x blocks away. Cannot remember now. Will set the value higher. There's something about when wolf teleports in wiki. I think I used that values. But I will check.

[2017-02-24 20:30] kniffo80 commented on #61
@LordJoshie check latest master together with Tesseract... should work!

[2017-02-25 20:06] NycuRO opened #152 "Error with CombatLogger"
[Tesseract] [20:52:51] CRITICAL> "Could not pass event 'pocketmine\event\entity\EntityDamageByEntityEvent' to 'CombatLogger v1.0.0': Argument 1 passed to Lambo\CombatLogger\Main::setTime() must be an instance of pocketmine\Player, instance of revivalpmmp\pureentities\entity\monster\walking\CaveSpider given, called in phar:///root/fac/plugins/phar_CombatLogger_zZTK1PZxhdzCa5Z.phar/src/Lambo/CombatL

[2017-02-25 20:12] kniffo80 commented on #152
???

[2017-02-25 20:26] NycuRO commented on #152
[Tesseract] [20:52:51] CRITICAL> TypeError: "Argument 1 passed to Lambo\CombatLogger\Main::setTime() must be an instance of pocketmine\Player, instance of revivalpmmp\pureentities\entity\monster\walking\CaveSpider given, called in phar:///root/fac/plugins/phar_CombatLogger_zZTK1PZxhdzCa5Z.phar/src/Lambo/CombatLogger/Main.php on line 45" (EXCEPTION) in "/phar_CombatLogger_zZTK1PZxhdzCa5Z.phar/src/L

[2017-02-25 20:28] kniffo80 commented on #152
What has this to do with PureEntities?

[2017-02-25 20:53] Sandertv commented on #152
It's the fault of the combat logger for not checking if the damager is instance of a Player. There's no way for us to fix that.

[2017-02-25 20:53] #152 closed

[2017-02-27 10:45] #144 closed

[2017-02-27 10:46] kniffo80 commented on #50
Maybe this has to do with gravity settings. Will check soon ...

[2017-02-27 11:56] archie426 commented on #61
@LordJoshie If that is how you understand spoons then maybe you should just look around a bit. Perhaps take a look at some of the spoons code, and compare it to PMMP

[2017-02-27 15:51] NycuRO commented on #61
53 not fixed on Tesseract.

[2017-02-27 15:55] NycuRO commented on #61
Added 56.

[2017-02-27 15:59] kniffo80 commented on #61
Man your descriptions suck - sorry to say that.

[2017-02-27 16:04] NycuRO commented on #61
@kniffo80 Edit if you don't like

[2017-02-27 16:05] NycuRO commented on #61
Added 57.

[2017-02-27 16:13] kniffo80 commented on #61
@NycuRO edit if you don't like? Whats wrong with you? When i don't understand what you write here I simply cannot edit and correct descriptions right?

[2017-02-27 16:17] NycuRO commented on #61
@kniffo80 Ok, ready, updated. 56.

[2017-02-27 16:34] kniffo80 commented on #61
Now i got it ...

[2017-02-28 15:57] kniffo80 commented on #61
**52: Wolf not teleport near player** - checked this - they teleport when not sitting!
**53: Animals and zombies can not attack at all** - spawned a zombie at night and he's attacking me!

Can anyone confirm that this works fine? At least tested with PMMP.

[2017-02-28 16:00] NycuRO commented on #61
@kniffo80 If have distance < 2 ,not attack on 53 issue.

[2017-02-28 16:04] kniffo80 commented on #61
So you mean when distance to the player is lower than 2 blocks it doesn't attack?

[2017-02-28 16:05] kniffo80 commented on #61
Or you mean when distance < 2 they SHOULD NOT attack?

[2017-02-28 16:05] NycuRO commented on #61
Yes.

[2017-02-28 16:05] NycuRO commented on #61
Same variants.

[2017-02-28 16:07] kniffo80 commented on #61
Okay let me summarize:
- when distance > 2 to the player / entity - they should attack
- when distance < 2 they should not attack

Is that correct?

[2017-02-28 16:09] kniffo80 commented on #61
When this is meant - i just run into an entity and they won't attack. Do you think this is really the case?

[2017-02-28 16:11] NycuRO commented on #61
Yes, on Tesseract. Please Test on my server: nycuro.ddns.net

[2017-02-28 16:18] kniffo80 commented on #61
This makes absolutely no sense to me. This is a strange behavior to be implemented. What does the team say?

[2017-02-28 16:24] NycuRO commented on #61
@kniffo80 Enter on my server: nycuro.ddns.net, to section "Factions". It's latest Tesseract Version and latest PureEntitiesX AND TEST ATTACK.

[2017-02-28 16:32] kniffo80 commented on #61
Try it out on vanilla PMMP Server! I read Tesseract and Plugins ... Please before opening a bug try it out on vanilla PMMP with this as only plugin.

Again - I've not that much time. Because this plugin is not my main job ... i'm doing it only besides of the rest of my life.

[2017-02-28 18:25] jasonwynn10 commented on #61
I am going to test it later today

[2017-03-02 08:10] kniffo80 commented on #145
@Tolo0 is this fixed for you now?

[2017-03-02 11:46] HAN-105 opened #154 "Error Spawning"
## Issue description
So actually, i was built .phar files from the latest source from this repository. it's working with my Genisys (with API: 3.0.0-ALPHA4). but I got error message, and there are no mobs/animals spawning in any biomes. So when i was checking about the "Entity.php" in src folder. it isn't there.. just missing.

## Client information
Genisys (MCPE) Target Version: 1.0.3.0
API: 3.0.

[2017-03-02 13:15] kniffo80 commented on #154
So the error may be normal. About the Entity: it's not provided by PureEntitiesX - it's provided by the server. So you may have to check your server sources ...

[2017-03-05 05:45] HAN-105 commented on #154
oh thanks, the issue has been fixed.

[2017-03-05 09:24] #154 closed

[2017-03-06 19:21] ehsanpey opened #155 "Crashing"
The plugin crashes my server...

heres the CrashDump:
[Mon_Mar_6-16.42.54-CET_2017.txt](https://github.com/RevivalPMMP/PureEntitiesX/files/822216/Mon_Mar_6-16.42.54-CET_2017.txt)

[2017-03-06 19:36] kniffo80 commented on #155
KK - you're using newest PMMP it seems. Tomorrow I'll correct this. Thanks for reporting!

[2017-03-07 08:09] kniffo80 commented on #155
Hmmm ... can you tell me which version of PMMP you're using? Which branch?

[2017-03-07 11:12] ehsanpey commented on #155
BlueLight

[2017-03-07 11:46] kniffo80 commented on #155
Please try https://github.com/RevivalPMMP/PureEntitiesX/tree/kniffo80-dev and report back if it works properly.

[2017-03-07 16:10] ehsanpey commented on #155
It works great, thanks for fixing it  👍

[2017-03-07 16:13] kniffo80 commented on #155
Thanks for reporting back!

[2017-03-07 16:13] #155 closed

[2017-03-09 10:08] kabluinc opened #156 "Plugin starts to highly lag the server"
## Issue description
I tried using this plugin on a server for a week and within an hour of the server running, the server starts to lag allot and delay. For example the HUD of the server can be seen disappearing and appearing for 2 seconds and chat start to lag. I am using PeXProtection to make sure mobs only spawn in 1 world but still I am having issues with server performance. The server starts

[2017-03-09 10:22] kniffo80 commented on #156
Which server are you running? Using pure PMMP or any other fork/spoon?

At least - AI is very hard to implement without running into performance issues. That's one of the reasons all server out there have no AI at the moment.

I'm thinking about creating a completely new plugin with the knowledge i have today. But that's a lot of work to be done. Additionally it's very hard to find out the perform

[2017-03-09 11:12] kabluinc commented on #156
Thanks for the quick reply. I'm using the original PMMP and the plugin version im using is kniffo80-dev.

Iv set the spawn values of each mob to low numbers, like 1-3 max however still there is no apparent difference.

[2017-03-09 11:40] kniffo80 commented on #156
Have you tried - just for testing - create a new world (backup old one) and check again? I noticed it sometimes on old worlds ...

[2017-03-09 12:56] kabluinc commented on #156
The server iv tried it on have a couple of worlds some of them old (mcr worlds) and some of them new (pmAnvil worlds). The only world i have mobs enabled on is in one of the new worlds. I use PeXprotection to disable mobs in the other worlds.

[2017-03-09 13:09] kniffo80 commented on #156
Okay - this needs a real deeper look. The more features we implement the harder it gets to find the performance killer. But I'll try. Thanks for reporting!

[2017-03-09 21:36] LordJoshie opened #157 "Tesseract Added Support, but still gettin an error."
I notice an error on console saying
[code]
Though, it shouldn't show this error, since AppleDevelops added support for Tesseract to use PureEntities.

[2017-03-09 21:41] kniffo80 commented on #157
Use latest kniffo80-dev - should work

[2017-03-09 21:43] LordJoshie commented on #157
Ill try it, thanks.
Love you ! #NoHomo

On Mar 9, 2017 4:41 PM, "Michael Gertz" <notifications@github.com> wrote:

[2017-03-18 10:33] NiclasQueen opened #158 "Tesseract ?"
[code]

[2017-03-18 15:14] jasonwynn10 commented on #158
use the knifo80 branch

[2017-03-18 15:14] #158 closed

[2017-03-21 10:19] kniffo80 commented on #157
As there's no feedback till now i assume it works. Closing this now.

[2017-03-21 10:19] #157 closed

[2017-03-22 12:18] Magicode1 commented on #156
Thanks also for using the correct issue format, it helps a ton with figuring it out and solving the problem!

[2017-03-22 12:22] Magicode1 commented on #135
Once this comes into effect, we will re-open this issue 😃

[2017-03-22 12:22] #135 closed

[2017-03-22 12:25] Magicode1 commented on #61
For **47. Animals cannot use ladders**

Are they even supposed to be able to?

[2017-03-22 13:36] jasonwynn10 commented on #61
It's in vanilla...

[2017-03-22 18:59] jasonwynn10 opened #161 "Mob Armor And Enchants"
- [x] This issue isn't duplicated - you can check if it is by using the search bar located at the top left hand corner and select "Issues" on the left.
- [x] This issue includes appropriate markdown for sections - e.g. code blocks for crash dumps.
- [x] This issue is understandable - feel free to use your native language to write issues if you are not comfortable with English.

## Issue descriptio

[2017-03-22 19:10] kniffo80 commented on #161
No reduction? It should be reduced by a specific percent. I will check. Enchantment isnt implemented yet.

[2017-03-22 19:36] jasonwynn10 commented on #161
I think they mean that when mobs attack, the player's armour isn't accounted for?

[2017-03-22 22:11] ALLINSEO commented on #161
@kniffo80
yes you are correct when monsters attack defense (armor) is not accounted for. I have only tested this with zombies which hit you for 1 heart both time with wearing unenchanted armor and without I get hit for 1 heart

"Damage is split between the health and armor bars. Each full armor point takes 8% of damage, to a maximum of 80%, rounded up." <<- minecraft wiki
does yours function the s

[2017-03-22 22:31] jasonwynn10 commented on #161
The damages should also change depending on the server difficulty settings

[2017-03-22 23:12] ALLINSEO commented on #161
I used to be able to use Mob_Spawners in a disable world, has this been changed?

right now they dont spawn anything if world is disabled

[2017-03-22 23:54] BackEndNoob opened #162 "Contact RevivalPMMP Team"
@AppleDevelops @kniffo80 @eDroiid @jasonwynn10  @Magicode1 @archie426 @HimbeersaftLP
- [x] This issue isn't duplicated - you can check if it is by using the search bar located at the top left hand corner and select "Issues" on the left.
- [x] This issue includes appropriate markdown for sections - e.g. code blocks for crash dumps.
- [x] This issue is understandable - feel free to use your native l

[2017-03-23 07:51] kniffo80 commented on #161
Alright - just for your information: mob equipment is only implemented for Zombies for now.
@ALLINSEO yes - i was taking the wiki as a template how to implement that. Not all is implemented at the moment - this takes some more reviews and changes :smile:

I will take care of this as soon as the performance problem is solved.

[2017-03-23 07:56] kniffo80 commented on #156
I had this issue now too. Just yesterday evening. I joined my public server and it started to badly lag. So I decided to restart the server. Shutdown took a long time and the server stopped gracefully shutting down. Then I deactivated PureEntities plugin and started the server again. After login I noticed the same lag as before with the plugin enabled. NOW it gets interesting - I logged in today i

[2017-03-23 08:35] ALLINSEO commented on #161
@kniffo80
by mob armor I assume that armor only works for the Monsters in the AI, thats what I got when I read the files anyway?

my request/report was about the player not getting damage reduction when a monster attack them.
example;
Zombie attacks a player > Base attack = 2 hit point
Player is wearing diamond armor(reduce by 80%) > $BaseAttack x .20 = .4 hit point loss
or 1/4th a heart might hav

[2017-03-23 08:39] kniffo80 commented on #161
Okay - now i got it :smile: sorry for being a little short-brained today :expressionless:

[2017-03-23 08:47] ALLINSEO commented on #161
no problem, the plugin you guys are developing is still awesome would just be much better with player armor. im trying to make a mob farm and 2-3 zombies constantly hitting you for 2 hit points each drains hp rather quickly.

[2017-03-23 09:13] kniffo80 commented on #161
I will keep an eye on this as soon as the other, more important issues are solved.

[2017-03-23 12:11] Magicode1 commented on #145
I assume it is :)

[2017-03-23 12:11] #145 closed

[2017-03-23 12:19] Magicode1 opened #163 "Lag/Performance/Stability Issues"
Fix Lag and Performance Issues for PureEntitiesX. We will close this issue once it is done.

Please note that this issue is taking precedence over other feature requests, but once we get the plugin running as smooth as possible, we will continue to add more features. (Rinse, Repeat. Right?)

[2017-03-23 13:40] jasonwynn10 commented on #156
I have an idea on how to do the item dropping...

[2017-03-23 13:49] kniffo80 commented on #156
I already implemented something. I brought the changed plugin to my server this morning and will see if it lags today in the evening too. What I did: just drop stuff when the last damage cause is done by player.

Or you have another idea?

But keep in mind: its just an assumption from my side that the item entities are responsible for the server lag.

[2017-03-23 14:00] kniffo80 commented on #163
So I tried it out with changing the code to let entities only drop items when damaged by player. Sadly it's not the cause - it seems so. Will commit some stuff soon that we can work together in one and the same branch.

[2017-03-23 16:07] kniffo80 commented on #163
I updated the kniffo80-dev branch - the peremove command is updated and is removing now all entities in all levels without player entities. So when the server lags badly maybe it's good idea to submit a peremove and check if it's running better then.

[2017-03-24 08:16] kniffo80 commented on #163
So after testing out some stuff I'm really at the end of my (confined) knowledge. I deactivated the file logging and tested out some other stuff. But still this interesting observation from my side (or what I did):
1. Server was started with the plugin active
2. Login as a normal Player, doing some stuff - from time to time I send a peremove to remove all the entities
3. Logged out
4. Logged in ag

[2017-03-24 08:23] Sandertv commented on #163
@kniffo80 is it FPS lag? (Screen moves slowly, low frames per second) or actual server side lag? (Delayed chat, particles etc.)

[2017-03-24 08:26] kniffo80 commented on #163
@Sandertv that's an interesting question. Didn't try the chat but the chat seemed to be normal. It seems to be FPS lag. The screen has low FPS while moving ... what i will try when the lag comes again: clear the data on the client side and try again ... and maybe i will make a short video to demonstrate what I mean.

[2017-03-24 08:28] Sandertv commented on #163
Alright. If it is in fact FPS lag, and there are no entities even alive after you do /peremove command, then it is likely that something else is causing it.

[2017-03-24 08:30] kniffo80 commented on #163
Yay. The most interesting thing: lag is still there even after deactivating the plugin. And as long as this problem isn't solved it makes no sense to continue implementing new features or solving issues. But that's only my opinion.

[2017-03-24 13:48] Magicode1 commented on #163
I agree. Maybe next we need to do a LagRemover plugin XD

[2017-03-24 14:06] jasonwynn10 commented on #163
It could be a client-side memory leak from a  packet that's causing the fps lag

[2017-03-24 14:37] kniffo80 commented on #163
@jasonwynn10 the same assumption that i have n mind - but which :sweat:

[2017-03-25 10:41] kniffo80 commented on #163
Now it gets interesting. I think it's mainly a client lag. Yesterday in the evening i had really bad lag. So i decided to wait until this morning without touching anything. And voila - today in the morning the lag was gone. Straaaaaange.

[2017-03-26 10:10] kniffo80 commented on #156
@kabluinc I've updated the kniffo80-dev branch with some smaller changes. I introduced the possibility to disable some characteristics of the plugin. Maybe, you can update the plugin and in the configuration (config.yml) set the following properties to false:

tasks.async
tasks.looking

And please report back if the problem still persists.

[2017-03-26 20:16] kabluinc commented on #163
Weird but for me its complete opposite. For the 3 days that I had this plugin it was TPS lag not FPS. The HUD (sends a constant popup to players) could be seen disappearing for upto 10 seconds some times and coming back. When doing /status the TPS would show between 6-12 TPS which is very low. Chat starts to delay heavily. Client side however there was no lag at all. Only server -side.

Since remo

[2017-03-26 20:18] kabluinc commented on #156
Okay many thanks. I will check and report back

[2017-03-26 20:28] kniffo80 commented on #156
You may also try out experimenting with the configuration. My server ran fine since yesterday. Smooth, really. Today in the evening, it started to lag. I think when I log in back tomorrow, the lag is gone again. Really strange thing ...

[2017-03-27 07:56] kniffo80 commented on #156
As I wrote: today in the morning everything was fine again. No Lag, all tasks activated. Strange issue. It seems that something pollutes the server's queues or something else which is cleaned up each x seconds/minutes/hours. Does anyone know if there's such an algorithm in PMMP? As I read - the following issue has been opened:

https://github.com/pmmp/PocketMine-MP/issues/466

Next thing I can try

[2017-03-27 11:25] Magicode1 commented on #156
This is so mysterious.....

[2017-03-27 13:02] #162 closed

[2017-03-27 13:03] archie426 commented on #162
Yeah please still use the forums

[2017-03-27 13:50] kniffo80 commented on #156
The actual kniffo80-dev branch is updated. I did some code cleanup and added possibility to enable or disable NBT storage for the plugin. On my server I disabled NBT storage. Let's see how it works. If anyone else wants to try out and help finding performance issues: use the latest branch and experiment a little bit.

@kabluinc maybe you can update the plugin and try it out too. Any help is apprec

[2017-03-27 13:51] kniffo80 commented on #163
Updated plugin sources:

https://github.com/RevivalPMMP/PureEntitiesX/issues/156

[2017-03-28 08:07] kniffo80 commented on #163
My server is now running for roundabout 20 hours with NBT **deactivated**. Everything is running fine and smooth without any lag - I logged in yesterday every hour to see, if anything lags. But no lag since yesterday. So my assumption: we're having NBT problems. There's an issue opened at PMMP: https://github.com/pmmp/PocketMine-MP/issues/466 which I think affects the performance when using living

[2017-03-28 11:21] Magicode1 commented on #163
I will try to test ASAP, although at the time I am away from my server computer most of the time.

I would think that you are right about the NBT tags. How would you recommend we fix them?

[2017-03-28 11:26] Sandertv commented on #163
We wait 😄 It seems like this is a PMMP issue. It's reported on the PMMP repo by dktapps.

[2017-03-28 11:53] kniffo80 commented on #163
How to fix ... either PMMP team fixes the stuff (I read there should be a complete rewrite of the NBT stuff) or we implement our own solution. Writing data to the disk on saveNBT and when an entity gets initialized, we read the data from disk. But that's not easy to implement. Then we would need a cleanup of the data (e.g. when an entity is older than x and not touched since x). This isn't easy to

[2017-03-28 12:35] Magicode1 commented on #163
Hmm. Ok, it may just be better to wait then? What should we tackle in the meantime? :)

We have some more plugin/feature requests on our forums. Maybe we check those out?

[2017-03-28 14:58] kniffo80 commented on #163
I will continue to work on the PureEntities plugin. There's a lot of work to be done. I think a good point would be this one: https://github.com/RevivalPMMP/PureEntitiesX/issues/161

New thing I would like to introduce is baby zombies. And adjust the speed values when they're babies (for all ageable entities currently implemented). And I would like to re-check the speed of all entities. They're mo

[2017-03-29 08:53] kniffo80 commented on #163
Since yesterday my server is running with NBT active, after i've updated the server to latest PMMP. There were changes regarding the player - and now - since yesterday afternoon - everything runs fine and smooth also with NBT enabled. But I'm still unsure if it's gone now :unamused:

[2017-03-29 11:28] Magicode1 commented on #163
Gotcha. I agree about #161 . Baby Zombies also :)

[2017-03-29 17:53] kniffo80 commented on #163
Hmmmm... I was wrong about the fix. My server is lagging again :(

[2017-03-30 08:10] kniffo80 commented on #163
As expected: today in the morning the server ran fine again. So it seems there's some sort of cleanup algorithm that cleans up NBT data or something similar. This is what I did (to exclude a memory leak):
1. set NBT tags to false in config and restart server -> not better
2. restart server without plugin enabled -> not better
3. leave NBT disabled and restarted server with plugin enabled -> not be

[2017-04-02 11:17] DonkihotD opened #165 "arguments passed"
Argument 2 passed in
![image](https://cloud.githubusercontent.com/assets/17106272/24586678/cfcd7b90-17bf-11e7-865d-f2eccb7b98db.png)

[2017-04-02 15:12] archie426 commented on #165
What server software are you using?

[2017-04-02 17:53] jasonwynn10 commented on #165
@DonkihotD
1. Use the kniffo80 branch
2. you are using Tesseract correct?

[2017-04-03 08:47] kniffo80 commented on #165
Use latest kniffo80-dev.

[2017-04-03 08:47] #165 closed

[2017-04-03 08:49] kniffo80 commented on #163
Still no answer - or only silly ones - even in the forums. So I'll keep on investigating on this. I hope I can play around a little with /gc, /status and so on. The problem - it takes time :pensive:

[2017-04-04 12:20] Magicode1 commented on #163
Yeah. Where did you ask on the forums? I didn't see it.

[2017-04-04 12:33] kniffo80 commented on #163
https://forums.pmmp.io/threads/any-cleanup.1649/

But now finally - I got an answer. But it's not the answer to my original question :pensive: but i got some useful answers that I can check now.

[2017-04-05 12:45] Magicode1 commented on #163
Sweet. School is whisking away all of my time, and I haven't been able to work on Plugins as much anymore, so I am sorry. I should be able to work more during summer break (We have a vacation for spring break) when the work load isn't so massive.

[2017-04-05 13:03] jasonwynn10 commented on #156
moved to #163

[2017-04-05 13:03] #156 closed

[2017-04-06 10:47] kniffo80 commented on #163
I'm really tired of this. My server is now running for more than 3 days without any lag. I had some players on the server (including my son) and they played around with TNT i think. They digged a huge hole into the ground - and now - tadaaa the server is running without any issues with the plugin activated since 3 days! No lag at all. Everything is fine and smooth. AND everything is activated - fr

[2017-04-06 14:45] kniffo80 commented on #44
As there's no feedback and i never saw this - closed!

[2017-04-06 14:45] #44 closed

[2017-04-06 14:45] kniffo80 commented on #13
Not sinking anymore.

[2017-04-06 14:45] #13 closed

[2017-04-06 16:37] kniffo80 commented on #163
Still running fine. I remember I've changed my pocketmine.yml configuration. It's this here: https://pastebin.com/cjR0N4ie

Maybe try to experiment with the pocketmine settings file if anyone encounters lags / stability issues.

[2017-04-12 08:12] kniffo80 commented on #10
This can be closed - as i think this is solved now in latest kniffo80-dev ...

[2017-04-14 14:47] kniffo80 commented on #50
Fixed with https://github.com/RevivalPMMP/PureEntitiesX/commit/5b3e21bc4ad4a888542dc583f2689fd02749e3a6

[2017-04-14 14:47] #50 closed

[2017-04-14 14:48] kniffo80 commented on #163
And again - never had a lag again since then. Can anyone confirm? It's with the latest api3/network branch of PMMP.

[2017-04-15 19:07] kabluinc opened #167 "Error in console."
This error keeps spamming console:

`2017-04-15 [20:04:07] [Server thread/CRITICAL]: Could not execute task revivalpmmp\pureentities\task\AutoSpawnTask: Call to a member function getBlockLightAt() on null
2017-04-15 [20:04:07] [Server thread/CRITICAL]: Error: "Call to a member function getBlockLightAt() on null" (EXCEPTION) in "/PureEntitiesX-kniffo80-dev/src/revivalpmmp/pureentities/task/spawners

[2017-04-15 19:32] kniffo80 commented on #167
Ah you activated block light. Never used the function before. Will check soon. So long just deactivate block and skylight check in config.yml

[2017-04-16 12:06] kniffo80 commented on #167
Fixed with https://github.com/RevivalPMMP/PureEntitiesX/commit/9a36689b59d91aad72891885ff3532cc5ff37d2f

[2017-04-16 12:06] #167 closed

[2017-04-16 14:36] amon28 opened #168 "Warning messages"
- [x] This issue isn't duplicated - you can check if it is by using the search bar located at the top left hand corner and select "Issues" on the left.
- [x] This issue includes appropriate markdown for sections - e.g. code blocks for crash dumps.
- [x] This issue is understandable - feel free to use your native language to write issues if you are not comfortable with English.

## Issue descriptio

[2017-04-16 15:04] jasonwynn10 commented on #168
Use the latest kniddo80-dev branch

[2017-04-16 15:04] #168 closed

[2017-04-16 20:21] kabluinc opened #169 "Error in console and /pesummon not working for some entities"
## Issue description
This error is spamming console and doing /pesummon on some entities like horse shows a similar error

[code]

## Reproducing the issue
Doing /pesummon horse or just letting server run, console starts to show this message every now and again

## Client information
PocketMine-MP Version: 1.6.2 dev API3/Network mcpe 1.0.6.52
Plugin Version: kniffo80-fdev 9a36689b59d91aad72891885f

[2017-04-17 12:35] kniffo80 commented on #169
Are you sure, you're using latest kniffo80-dev branch? You can also simply use this one: https://github.com/RevivalPMMP/PureEntitiesX/releases/tag/v0.2.2_dev together with latest api3/network branch of PMMP. I double checked the code and the error should not occur. Please check your proper versions!

[2017-04-17 16:34] NycuRO opened #170 "AI - For @kniffo80"
Sorry for Issue, but can you watch there @kniffo80 : https://github.com/RaynLegends/Controllable-Mobs-API/commits/master

[2017-04-17 20:44] kabluinc commented on #169
Downloading the latest API/3 branch again solved the issue. Many thanks.

[2017-04-17 20:44] #169 closed

[2017-04-19 12:31] kniffo80 commented on #170
Thanks for this. But using this means rewriting the whole stuff. I'm too lazy to do it. Maybe later, when i have more time.

[2017-04-19 12:31] #170 closed

[2017-04-19 12:33] kniffo80 commented on #163
With latest api3/network branch I cannot see any performance lags anymore. Additionally I moved my PMMP server to a new VM and "improved" UDP performance on the server with the help of the following:

https://access.redhat.com/documentation/en-US/JBoss_Enterprise_Web_Platform/5/html/Administration_And_Configuration_Guide/jgroups-perf-udpbuffer.html

Because: " ... One of the most common causes of

[2017-04-19 12:33] #163 closed

[2017-04-19 12:35] jasonwynn10 commented on #163
I haven't had any lag either after recent branch updates

[2017-05-16 13:51] kniffo80 commented on #161
Added a new branch where armor points are counted in:
https://github.com/RevivalPMMP/PureEntitiesX/tree/damage-reduction

Enchantment still missing - not finished yet. But maybe @ALLINSEO can check again - at least for getting reduced damage while wearing armor.

Just FYI:
1 Armor Point = 4% reduction. And it's not depending on difficulty as far as i read the wiki.

[2017-05-20 08:23] EtchReborn opened #173 "No Mob Spawning?"
- [x] This issue isn't duplicated - you can check if it is by using the search bar located at the top left hand corner and select "Issues" on the left.
- [ ] This issue includes appropriate markdown for sections - e.g. code blocks for crash dumps.
- [x] This issue is understandable - feel free to use your native language to write issues if you are not comfortable with English.

## Issue descriptio

[2017-05-21 14:48] jasonwynn10 commented on #173
Are you sure you are using the latest build version?

[2017-05-21 15:04] EtchReborn commented on #173
Yes i am

[2017-05-21 15:15] jasonwynn10 commented on #173
Wait, i just noticed that you aren't using PMMP. PureEntitiesX only works on PMMP due to the namespace changes.

[2017-05-21 15:15] #173 closed

[2017-05-21 20:44] poustmal commented on #138
Ender crystals should be done by pocketmine or any other fork/spoon

[2017-06-04 20:18] Sonnenwerk opened #174 "Crashing PureEntities/Pocketmine (different error behaviour)"
[Fri_May_19-22.48.27-CEST_2017.txt](https://github.com/RevivalPMMP/PureEntitiesX/files/1050688/Fri_May_19-22.48.27-CEST_2017.txt)
[Sun_Jun_4-22.00.46-CEST_2017.txt](https://github.com/RevivalPMMP/PureEntitiesX/files/1050690/Sun_Jun_4-22.00.46-CEST_2017.txt)
[Sun_Jun_4-22.16.39-CEST_2017.txt](https://github.com/RevivalPMMP/PureEntitiesX/files/1050689/Sun_Jun_4-22.16.39-CEST_2017.txt)

- [x] This is

[2017-06-08 05:40] jrodr10 opened #175 "Urgent Issue"
## Issue description
[code]

## Reproducing the issue
1. start server with plugin

## Client information
PocketMine-MP Version: 0.16/1.0 (delete as nescessary)
Plugin Version: (insert commit label here)
PHP version: 7.0.13 (default)

## Optional information
...

[2017-06-08 07:38] kniffo80 commented on #175
Will take a look into this later.

[2017-06-09 14:54] kniffo80 commented on #175
@jrodr10 I've updated the following branch: https://github.com/RevivalPMMP/PureEntitiesX/tree/damage-reduction

Please use this branch along with latest PMMP and please report back if it works for you. I tested it for a short amount of time and it looks things are going normal again ...

[2017-06-09 14:54] kniffo80 commented on #174
Please try latest https://github.com/RevivalPMMP/PureEntitiesX/tree/damage-reduction together with latest master of PMMP. It should work ...

[2017-06-09 16:02] Sonnenwerk commented on #174
I would give it a try, but i am unsure what to do with the link (code). Is there a automatic poggit build somewhere, i can download ? Or shall i use the .zip download function, rename it to .phar ?

[2017-06-10 14:29] oddsized commented on #175
Had the same problem on PMMP v1.1.0 server, now using this branch an everything works OK. Still testing but THANK YOU.

[2017-06-10 18:56] jasonwynn10 commented on #175
@oddsized commit 4b57165 should have fixed that

[2017-06-11 09:09] Sonnenwerk commented on #174
o/ I have seen, that there is a compiled version at poggit. I tried this one with pocketmine dev #155.
But it threw a lot of error on startup. Any suggestions, with what version i shall test the new pureentities ?

[2017-06-12 08:44] kniffo80 commented on #175
Try this: https://github.com/RevivalPMMP/PureEntitiesX/releases/tag/0.2.2_dev2 (the pre-built phar)

[2017-06-12 08:44] kniffo80 commented on #174
You can try this one: https://github.com/RevivalPMMP/PureEntitiesX/releases/tag/0.2.2_dev2 (the pre-built phar)

[2017-06-12 13:46] Sonnenwerk commented on #174
Thanks, Michael !
This version seems to work fine (at least it does work). We will test it more on our server.

[2017-06-12 19:22] NycuRO commented on #175
@kniffo80 Hi , how are you? =)

Now, i'm abandonated MCPE, but i watch your commits.
PureEntities abandonated?

[2017-06-13 09:06] kniffo80 commented on #175
Hi @NycuRO fine so far. PureEntities is not abandoned yet. Simply less time to spare on this project. That's all :smile:

[2017-06-13 13:07] #175 closed

[2017-06-14 18:21] Sonnenwerk commented on #174
Ok, there are some error messages:
[13:22:10] [Server thread/DEBUG]: Tried to equip Item Diamond Sword (276:154)x1 but have Item Diamond Sword (276:155)x1 in target slot
[13:22:10] [Server thread/DEBUG]: Unhandled MobEquipmentPacket received from Legolas: 0x1f01a80482e80400000000090000

Those seem to be the old ones with "MobEquipment"
But there seem to be some new also.  Which i have not encounde

[2017-06-14 21:29] kenygamer opened #177 "ClassNotFoundException: "Class pocketmine\network\mcpe\protocol\AddEntityPacket not found" (EXCEPTION) in "/src/spl/BaseClassLoader" at line 144"
- [x] This issue isn't duplicated - you can check if it is by using the search bar located at the top left hand corner and select "Issues" on the left.
- [x] This issue includes appropriate markdown for sections - e.g. code blocks for crash dumps.
- [x] This issue is understandable - feel free to use your native language to write issues if you are not comfortable with English.

## Issue descriptio

[2017-06-14 21:32] #177 closed

[2017-06-14 21:38] kenygamer opened #178 "I spawn an entity: cant take damage of it, i spawn another, the one i spawned before disappears"
- [x] This issue isn't duplicated - you can check if it is by using the search bar located at the top left hand corner and select "Issues" on the left.
- [x] This issue includes appropriate markdown for sections - e.g. code blocks for crash dumps.
- [x] This issue is understandable - feel free to use your native language to write issues if you are not comfortable with English.

## Issue descriptio

[2017-06-14 21:55] jasonwynn10 commented on #178
Can you please provide more information on the commit label?

[2017-06-15 07:31] kniffo80 commented on #174
Could you please try https://github.com/RevivalPMMP/PureEntitiesX/tree/damage-reduction (have not build a PHAR yet) - that should take care of your MobEquipment error (the second one). Although i don't know why the worn armor can have an ID of zero ...

[2017-06-15 10:37] Sonnenwerk commented on #174
I downloaded it and installed it. Until now i had only a cow and sheeps and pigs. No Mob, which attacked me. Will see that later, but unhandled mob still exists.

[12:33:43] [Server thread/DEBUG]: Tried to equip Item Stone Sword (272:57)x1 but have Item Stone Sword (272:58)x1 in target slot
[12:33:43] [Server thread/DEBUG]: Unhandled MobEquipmentPacket received from Goldtaler: 0x1f01a00482e4010000

[2017-06-15 11:39] kniffo80 commented on #174
Hmmm ... the mob equipment packet control has been changed a lot. I need to investigate a little more. The strange thing - it goes to the Player's method "handleMobEquipment" - which i don't understand.

Maybe someone else here can give me a clue how that works now? I am not up-to-date :smile:

For now, you can try to set the mob-equipment section all values to zero. Then, no mob equipment packet

[2017-06-15 11:50] kniffo80 commented on #174
So I tested this on locally with the latest PMMP and the latest PureEntitiesX, changed config.yml:

mob-equipment:
  zombie:
    wear-pickup-chances:
      can-pickup-loot:
        easy: 100
      armor:
        easy: 100
      weapon:
        easy: 100

I started the server and summoned a zombie (which then had full armor and an iron sword). But my log of the server behave completely normal. So m

[2017-06-15 11:52] kniffo80 commented on #174
Ah found another thing: maybe the "old" code is the problem (e.g. Skeleton, Stray, WitherSkeleton) ... I'll try those again (those which produce MobEquipment packets) ...

[2017-06-15 12:48] Sonnenwerk commented on #174
I have some more errors, which may help. I cant tell exactly, which mobs created them, but the player told me, he had a lot of spiders (20) spawned.

[13:17:26] [Server thread/DEBUG]: Tried to equip Item Diamond Sword (276:169)x1 but have Item Diamond Sword (276:170)x1 in target slot
[13:17:26] [Server thread/DEBUG]: Unhandled MobEquipmentPacket received from Legolas: 0x1f25a80482a4050000000009000

[2017-06-15 12:51] Sonnenwerk commented on #174
[13:17:48] [Server thread/DEBUG]: Tried to equip Item Diamond Sword (276:184)x1 but have Item Diamond Sword (276:185)x1 in target slot
[13:17:48] [Server thread/DEBUG]: Unhandled MobEquipmentPacket received from Legolas: 0x1f25a80482e00500000000090000

And this seems to be systematiccaly. Always a "Tried to" first, then a "unhandeld" direct afterwards.

[2017-06-15 13:00] Sonnenwerk commented on #174
and spawnlogfile from today...
[37m14.6.2017 13:10:47 [INFO]  ChickenSpawner: scheduleCreatureSpawn (pos: Position(level=Pigland101,x=360.9104,y=68.7,z=-5.6417))[0m
[37m14.6.2017 13:11:17 [INFO]  CowSpawner: scheduleCreatureSpawn (pos: Position(level=Pigland101,x=378.0185,y=70.3,z=3.2643))[0m
[37m14.6.2017 13:11:32 [INFO]  SpiderSpawner: scheduleCreatureSpawn (pos: Position(level=Pigland101,x

[2017-06-15 13:13] kniffo80 commented on #174
Hmmm ... i don't get those messages :disappointed:

Anyway - do you have any other plugins enabled? As I already wrote: I tried all mobs that are using MobEquipment / MobArmorEquipment packets. They're not the cause of this :confused:

[2017-06-15 13:15] Sonnenwerk commented on #174
Yes, i use

[12:24:20] [Server thread/INFO]: Loading essentialsTP v1.1.1
[12:24:20] [Server thread/INFO]: Loading SignPortal v1.1.3
[12:24:20] [Server thread/INFO]: Enabling PureEntitiesX v0.2.2_dev

shall i try to run without the two others ?

BTW, does it help you, if i set the loglevel of pureentities to debug ? ATM it is at "warn".

[2017-06-15 13:17] kniffo80 commented on #174
Nope - setting the loglevel to DEBUG is not a good idea - especially when having multiple players on the server. I'm now checking the plugins ...

[2017-06-15 13:26] Sonnenwerk commented on #174
[15:25:02] [Server thread/DEBUG]: Tried to equip Item Stone Sword (272:71)x1 but have Item Stone Sword (272:72)x1 in target slot
[15:25:02] [Server thread/DEBUG]: Unhandled MobEquipmentPacket received from Goldtaler: 0x1f01a004829c0200000000090000

I disabled the both other plugins, restarted the server, killed a pig and had this message...

[2017-06-15 13:26] kniffo80 commented on #174
But stone sword is used nowhere in the code ... did you have a stone sword equipped?

[2017-06-15 13:27] Sonnenwerk commented on #174
Yes i have a stone sword equipped (with german client)

[2017-06-15 13:29] kniffo80 commented on #174
I have tried it:

`[15:27:00] [Server thread/INFO]: If you would like to be kept informed about new Beta or Development builds, it is recommended that you change 'preferred-channel' in your pocketmine.yml to 'beta' or 'development'.
[15:27:00] [Server thread/INFO]: ----- -------------------------- -----
[15:27:23] [Server thread/INFO]: Kniffman[/10.250.1.164:53527] logged in with entity id 2 at (g

[2017-06-15 13:34] Sonnenwerk commented on #174
Made new world...same behaviour.

[15:32:50] [Server thread/DEBUG]: Unhandled MobArmorEquipmentPacket received from Goldtaler: 0x2001e4040200000000e6040200000000e804020000000000
[15:32:55] [Server thread/DEBUG]: Level "Pigland102" took 103.75ms, setting tick rate to 2 ticks
[15:32:55] [Server thread/DEBUG]: Raising level "Pigland102" tick rate to 1 ticks
[15:32:56] [Server thread/DEBUG]: Level "Pi

[2017-06-15 13:37] kniffo80 commented on #174
Okay - now please disable ALL plugins and restart the server - and if it's gone (the message) - enable only PureEntitiesX - and so on. It's strange because I don't get those messages.

Anyone else who can test this stuff please?

[2017-06-15 13:48] Sonnenwerk commented on #174
I get those "unhandled" errors too, if all stuff is disabled, but not the "tried to equip". Maybe the last one only occure, when i hit a mob, but state the same cause ? So it seems, i must test/try another version of pocketmine itself. I will do this on monday

[15:44:33] [Server thread/DEBUG]: Unhandled MobArmorEquipmentPacket received from Goldtaler: 0x2001e4040200000000e6040200000000e8040200000

[2017-06-15 13:51] Sonnenwerk commented on #174
Thanks for looking into it !

[2017-06-15 13:56] kniffo80 commented on #174
No problem. When there's a bug - I like to fix it. But it's hard to fix it when this can't be reproduced. I think you should update to the latest master branch of PMMP. If you need a phar - just give me a short notice. I can give you the actual one.

[2017-06-15 20:35] kenygamer commented on #178
@jasonwynn10 I do not think I have to add more information than the current one.

[2017-06-15 21:55] jasonwynn10 commented on #178
@kenygamer you did not add a commit label. This issue is invalid.

[2017-06-15 21:55] #178 closed

[2017-06-17 18:10] nv0103nv opened #179 "Incompatible API Version"
- [x] This issue isn't duplicated - you can check if it is by using the search bar located at the top left hand corner and select "Issues" on the left.
- [x] This issue includes appropriate markdown for sections - e.g. code blocks for crash dumps.
- [x] This issue is understandable - feel free to use your native language to write issues if you are not comfortable with English.

## Issue descriptio

[2017-06-17 18:31] jasonwynn10 commented on #179
That is a **PRE-RELEASE**! This Issue is invalid. Also, if you would care to note, **6 commits since this release**

[2017-06-17 18:31] #179 closed

[2017-06-19 14:54] TDMidkwhatisxd opened #180 "Mob damage calculation"
[Server thread/CRITICAL]: Could not tick level "world": Undefined offset: 0
[14:52:11] [Server thread/CRITICAL]: ErrorException: "Undefined offset: 0" (EXCEPTION) in "/PureEntitiesX_v0.2.2_dev.phar/src/revivalpmmp/pureentities/utils/MobDamageCalculator" at line 92
[14:52:13] [Server thread/CRITICAL]: Could not tick level "world": Undefined offset: 0
[14:52:13] [Server thread/CRITICAL]: ErrorExcept

[2017-06-19 14:59] TDMidkwhatisxd commented on #180
nvm

[2017-06-19 14:59] #180 closed

[2017-06-24 14:16] NiclasQueen opened #181 "The Plugin just does'nt work"
Could it has sth to do with MyPlot ?
[code]

[2017-06-24 14:29] NiclasQueen opened #182 "WorldEnable"
Please let the user set a world to enable the plugin in :)

[2017-06-24 15:22] jasonwynn10 commented on #182
https://github.com/RevivalPMMP/PEXProtection

[2017-06-24 15:22] #182 closed

[2017-06-24 15:22] Sandertv commented on #182
https://github.com/RevivalPMMP/PEXProtection
It needs an API bump, but that should be fine.

[2017-06-24 15:22] Sandertv commented on #182
@jasonwynn10 You were JUST faster :P

[2017-06-25 14:21] ConnerItayi commented on #181
I'm getting `Incompatible API version`, so I would attribute it more to that than whatever your issue is. From what I gathered, the latest release supports API 3.0.0-ALPHA3, whilst you're running ALPHA5 and I'm running ALPHA6

[2017-06-25 22:15] kenygamer commented on #181
@ConnerItayi Change the line
[code]
to
[code]

[2017-06-29 11:24] optimusprime338 opened #183 "console error .plugin not working"
- [x] This issue isn't duplicated - you can check if it is by using the search bar located at the top left hand corner and select "Issues" on the left.
- [x] This issue includes appropriate markdown for sections - e.g. code blocks for crash dumps.
- [x] This issue is understandable - feel free to use your native language to write issues if you are not comfortable with English.

## Issue descriptio

[2017-06-29 16:50] caspervanneck commented on #183
ha know that there there not update it to latest pmmp. is it to hard ? @Magicode1

[2017-06-29 16:56] caspervanneck commented on #183
btw @optimusprime338 what software are you using pmmp or somting else

[2017-06-29 17:00] optimusprime338 commented on #183
PMMP latest

[2017-06-29 17:01] caspervanneck commented on #183
well then i know it

[2017-06-29 17:11] optimusprime338 commented on #183
Sorry , If it's my problem or mistake

[2017-06-29 17:16] caspervanneck commented on #183
no its not yours its them

[2017-06-30 19:52] Anton404 opened #185 "Needs API level upgraded to Alpha6"
- [x] This issue isn't duplicated - you can check if it is by using the search bar located at the top left hand corner and select "Issues" on the left.
- [x] This issue includes appropriate markdown for sections - e.g. code blocks for crash dumps.
- [x] This issue is understandable - feel free to use your native language to write issues if you are not comfortable with English.

## Issue descriptio

[2017-07-02 14:58] HarryMyStick opened #186 "Can Added Entity Move from Pos 1 to Pos 2???"
I want to make a plugin but i need set Entity move from pos1 to pos2 and i can't do that i need your help please help me

[2017-07-02 15:01] HarryMyStick commented on #186
please Support me

[2017-07-02 15:10] Sandertv commented on #186
This is not a support forum. Please try asking for support on the PMMP forums instead.

[2017-07-02 15:10] #186 closed

[2017-07-08 12:13] Sonnenwerk commented on #185
o/
Made my first time contribution with this request. Made a new branch API alpha 6. But can´t see it in branches. I made a pull request to merge to master (i think:-) ) . Pls check, if you can see the branch..and give feedback if it works or not.

[2017-07-08 12:14] Sonnenwerk commented on #185
+add: I don´t know how to tag the issues..where is the tagging button ?

[2017-07-08 12:20] Sonnenwerk commented on #185
also poggit is enabled now (did work fast and easy..found the right button)

https://poggit.pmmp.io/ci/Sonnenwerk/PureEntitiesX-API-v3alpha6-test1-/PureEntitiesX/dev:1

[2017-07-09 08:24] SourSmirnoff opened #189 "Critical Error"
Error, pocketmine Unleashed api: ALPHA-6
[code]
Eggs do nothing, when doing the summon command i get the above error. also, no mobs spawned whatsoever.

[2017-07-18 06:50] Sonnenwerk commented on #185
Now it is alpha 7 :(
And i don´t have the skills to adapt the code to the new version of API...(((

[2017-07-18 06:53] Sonnenwerk commented on #181
You can run Pureentities until PE Build #217. This one is the latest alpha 5 API and works on my server.
I tried to update pureent. to Alpha 6, but failed, as there were more changes, than only the devtools and api version info.

[2017-07-18 15:21] jasonwynn10 commented on #181
Invalid issue due to incomplete issue template.

[2017-07-18 16:14] #181 closed

[2017-07-18 16:14] archie426 commented on #181
Reopen once all the correct info is provided

[2017-07-23 09:11] #174 closed

[2017-07-24 14:45] Sonnenwerk opened #190 "Call to a member function getBlock() on null"
- [x] This issue isn't duplicated - you can check if it is by using the search bar located at the top left hand corner and select "Issues" on the left.
- [x] This issue includes appropriate markdown for sections - e.g. code blocks for crash dumps.
- [ ] This issue is understandable - feel free to use your native language to write issues if you are not comfortable with English.

## Issue descriptio

[2017-07-24 16:55] jasonwynn10 commented on #190
The 'damage-reduction' branch is the latest version which can be properly used. Retry using commit c974f9c

[2017-07-24 16:55] #190 closed

[2017-07-25 11:07] optimusprime338 opened #192 "Fatal error:-"
- [x] This issue isn't duplicated - you can check if it is by using the search bar located at the top left hand corner and select "Issues" on the left.
- [x] This issue includes appropriate markdown for sections - e.g. code blocks for crash dumps.
- [x] This issue is understandable - feel free to use your native language to write issues if you are not comfortable with English.

## Issue descriptio

[2017-07-25 11:41] Sonnenwerk commented on #192
o/ Same here.

Fatal error: Access level to revivalpmmp\pureentities\event\ExplosionPrimeEvent::$entity must be protected (as in class pocketmine\event\entity\EntityEvent) or weaker in phar:///home/s1229630/pocketmine/plugins/PureEntitiesX.phar/src/revivalpmmp/pureentities/event/ExplosionPrimeEvent.php on line 29
[13:34:01] [Server thread/EMERGENCY]: An unrecoverable error has occurred and the ser

[2017-07-25 16:13] Sonnenwerk commented on #192
New error with updated #191 plugin:

2017-07-25 [16:31:26] [Server thread/CRITICAL]: Could not tick level "Pigland101": Start block missed in BlockIterator
2017-07-25 [16:31:26] [Server thread/CRITICAL]: InvalidStateException: "Start block missed in BlockIterator" (EXCEPTION) in "src/pocketmine/utils/BlockIterator" at line 171
2017-07-25 [16:31:26] [Server thread/DEBUG]: #0 src/pocketmine/entity/L

[2017-07-26 09:32] teracube opened #193 "Error: "Call to a member function isInWorld() on null" (EXCEPTION) in "src/pocketmine/level/Explosion" at line 92"
- [x] This issue isn't duplicated - you can check if it is by using the search bar located at the top left hand corner and select "Issues" on the left.
- [x] This issue includes appropriate markdown for sections - e.g. code blocks for crash dumps.
- [x] This issue is understandable - feel free to use your native language to write issues if you are not comfortable with English.

## Issue descriptio

[2017-07-26 09:36] teracube opened #194 "Error : Unhandled exception executing command 'pesummon' in pesummon"
- [x] This issue isn't duplicated - you can check if it is by using the search bar located at the top left hand corner and select "Issues" on the left.
- [x] This issue includes appropriate markdown for sections - e.g. code blocks for crash dumps.
- [x] This issue is understandable - feel free to use your native language to write issues if you are not comfortable with English.

## Issue descriptio

[2017-07-26 10:32] teracube opened #195 "Error: "Call to a member function getBlock() on null" (EXCEPTION) in "src/pocketmine/entity/Entity" at line 1411"
- [x] This issue isn't duplicated - you can check if it is by using the search bar located at the top left hand corner and select "Issues" on the left.
- [x] This issue includes appropriate markdown for sections - e.g. code blocks for crash dumps.
- [x] This issue is understandable - feel free to use your native language to write issues if you are not comfortable with English.

## Issue descriptio

[2017-07-27 03:18] jasonwynn10 commented on #195
This issue occurs by an entity somehow losing its Level reference... strange

[2017-07-27 03:19] jasonwynn10 commented on #193
second case of lost level reference #195

[2017-07-27 03:50] #194 closed

[2017-07-27 03:52] #192 closed

[2017-07-27 03:52] #189 closed

[2017-07-27 03:52] #185 closed

[2017-07-27 03:53] #183 closed

[2017-07-27 06:50] teracube commented on #194
thanks ;-)

[2017-07-27 07:44] teracube commented on #195
Hi,
Update with same error  WalkingMonster" at line 214

2017-07-27 [09:41:36] [Server thread/CRITICAL]: Could not tick level "world": Call to a member function getBlock() on null
2017-07-27 [09:41:36] [Server thread/CRITICAL]: Error: "Call to a member function getBlock() on null" (EXCEPTION) in "PureEntitiesX.phar/src/revivalpmmp/pureentities/entity/monster/WalkingMonster" at line 214

thank

[2017-07-27 13:10] totor29 opened #196 "#2011 Value 34970 is too large! / #2012 Value 32849 is too large! =) caused by PureEntities or not ?"
- [x] This issue isn't duplicated - you can check if it is by using the search bar located at the top left hand corner and select "Issues" on the left.
- [x] This issue includes appropriate markdown for sections - e.g. code blocks for crash dumps.
- [x] This issue is understandable - feel free to use your native language to write issues if you are not comfortable with English.

## Issue descriptio

[2017-07-27 13:35] jasonwynn10 commented on #196
This issue could only happen while using a spawner. If you didn't use a spawner, then the issue is from PocketMine. In the future, please use the issue template when reporting bugs.

[2017-07-27 13:41] jasonwynn10 commented on #195
would you mind testing this version of PureEntities? https://poggit.pmmp.io/ci/RevivalPMMP/PureEntitiesX/~/dev:98

[2017-07-27 13:55] Sonnenwerk commented on #195
o/ Jason. We tried dev98 today and it throwed also a lot of errors. One thing, that changed is, that now it generated a crash file.
cu and thanks for searching and working on the bug !

2017-07-27 [11:55:18] [Server thread/CRITICAL]: InvalidStateException: "Start block missed in BlockIterator" (EXCEPTION) in "src/pocketmine/utils/BlockIterator" at line 171
2017-07-27 [11:55:18] [Server thread/DEBU

[2017-07-27 13:55] Sonnenwerk commented on #195
PocketMine-MP Crash Dump Thu Jul 27 14:37:02 CEST 2017

Error: Allowed memory size of 1073741824 bytes exhausted at /pocketmine/install_data/php/Zend/zend_objects.c:162 (tried to allocate 224 bytes)
File: src/pocketmine/level/Level
Line: 1341
Type: E_ERROR

Code:
[1332] 		if($this->isInWorld($pos->x, $pos->y, $pos->z)){
[1333] 			$index = ((($pos->x) & 0xFFFFFFF) << 36) | ((( $pos->y) & 0xff) << 2

[2017-07-27 14:11] totor29 commented on #196
sorry, i'm a newbie, what is a spawner ?
I use only Pocketmine + plugins related in crashdump
ok for next issue template sorry
thanks

[2017-07-27 14:40] jasonwynn10 commented on #196
Have you ever played vanilla minecraft at all? A spawner is a block found in a dungeon which spawns mobs of a set type

[2017-07-27 14:42] jasonwynn10 commented on #195
@Sonnenwerk the issue you are having is because you are using 32 bit software. upgrade to x64 bit to prevent the errors

[2017-07-27 15:06] winterbuild7074 opened #197 "Errors"
- [x] This issue isn't duplicated - you can check if it is by using the search bar located at the top left hand corner and select "Issues" on the left.
- [x] This issue includes appropriate markdown for sections - e.g. code blocks for crash dumps.
- [x] This issue is understandable - feel free to use your native language to write issues if you are not comfortable with English.

## Issue descriptio

[2017-07-27 15:21] totor29 commented on #196
ok thanks, but it's a new server with only :+1:
PocketMine-MP 1.6.2dev-314: PurePerms 1.4.1-dev1; BlockPets 1.1.0; ItemCasePE 1.1.0-dev1; FactionsPro 1.4.4-dev1; SignPortal 1.1.3-dev1; AlwaysSpawn 2.2.3-dev1; Cameraman 1.1.0-dev; TreasureChest 1.2.1; PureEntitiesX 0.2.2_dev; SimpleAuth 1.8.1-dev1; SimpleAuthHelper 2.0.5-dev1; PiggyCustomEnchants 1.0.2; essentialsTP 1.1.1-dev2; ChatToDiscord 1.1.0;

[2017-07-27 15:28] jasonwynn10 commented on #196
I need you to fill in the template information for me to be of any help

[2017-07-27 15:50] totor29 commented on #196
the template information ?
is ist this file on attachment ?
thanks
[Downloads.zip](https://github.com/RevivalPMMP/PureEntitiesX/files/1180512/Downloads.zip)

[2017-07-27 16:02] jasonwynn10 commented on #196
What is your php version,your PocketMine commit hash, and your plugin commit hash?

[2017-07-27 16:11] totor29 commented on #196
my server is hosted and i just use a panel  ?
where find this information ?

thanks

[2017-07-27 16:18] jasonwynn10 commented on #196
type version command on console

[2017-07-27 16:40] totor29 commented on #196
This server is running PocketMine-MP 1.6.2dev-314 「Unleashed」 implementing API version 3.0.0-ALPHA7 for Minecraft: PE v1.1.0.55 (protocol version 113)

[2017-07-27 17:04] Sonnenwerk commented on #195
@jasonwynn10 Uhh..can you help me, what software is still 32Bit ? I asked support staff of the serverhoster. They stated, that php and linux are 64bit.

[2017-07-27 17:33] jasonwynn10 commented on #196
can you tell me if you are using PMMP PocketMine?

[2017-07-27 17:35] totor29 commented on #196
I use and download PocketMine MP at this link
https://jenkins.pmmp.io/job/PocketMine-MP/

is it PMMP PocketMine?
thanks

[2017-07-27 17:36] jasonwynn10 commented on #195
`Linux ML-08-15.zkm.unigs.de 4.4.0-040400-generic #201601101930 SMP Mon Jan 11 00:32:41 UTC 2016 x86_64`
That x86-64 on the end means it's 32 bit

[2017-07-27 17:37] jasonwynn10 commented on #196
It sounds like you are using 32 bit software, but then pmmp wouldn't run...
If the server is having issues without PureEntitiesX on it, then it's a PocketMine problem

[2017-07-27 17:37] #196 closed

[2017-07-27 17:53] Sandertv commented on #196
Perhaps this isn't even PocketMine @jasonwynn10, we don't know what the host is actually running. As PocketMine dropped support for 32bit I guess this is a spoon that hasn't dropped 32 bit support.

[2017-07-27 18:11] jasonwynn10 commented on #196
@Sandertv we never decided to only support PMMP on this plugin, and @kniffo80 has made some parts to be compatible to 3rd party softwares, so what do you think we should do about it?

[2017-07-27 18:34] Sandertv commented on #196
Not entirely sure. If this is indeed an issue with a third party software, then we can't do anything about it.

[2017-08-02 08:02] samalero commented on #195
+ i have the same... but server is empty...
[code]

[2017-08-02 16:46] ZizzyZizzy opened #198 "Could not tick level "world": Undefined offset: 0 in MobDamageCalculator"
- [x] This issue isn't duplicated - you can check if it is by using the search bar located at the top left hand corner and select "Issues" on the left.
- [x] This issue includes appropriate markdown for sections - e.g. code blocks for crash dumps.
- [x] This issue is understandable - feel free to use your native language to write issues if you are not comfortable with English.

## Issue descriptio

[2017-08-02 17:25] jasonwynn10 commented on #198
The server is outdated

[2017-08-02 17:25] #198 closed

[2017-08-02 18:02] ZizzyZizzy commented on #198
Actually, PureEntitiesX is outdated. It will not even load in ALPHA6 PMMP unless the API compatibility check is disabled in the source code.

I just tried PMMP commit #8bb0c53, which was the **very last ALPHA6 commit** before the API was bumped to ALPHA7, but it does not work with the older plugins, including PureEntitiesX, as dktapps changed a bunch of declarations:

`INFO Fatal error: Declaratio

[2017-08-02 18:22] Sonnenwerk commented on #198
PureEnt runs with Alpha7. Buggy though, but it runs. You can change your server version up to latest dev.

[2017-08-02 18:51] jasonwynn10 commented on #198
@ZizzyZizzy you aren't using the damage-reduction branch for alpha7. That also makes this issue invalid

[2017-08-02 22:25] ZizzyZizzy commented on #198
Neat, I wasn't aware that was an ALPHA7 branch.

Is there a branch that doesn't have the bug in the subject of this issue? That is, for ALPHA6 API.

[2017-08-03 00:13] jasonwynn10 commented on #198
Nope, and the lead developer for this project is taking an extended break, so many of the bugs won't be able to get fixed.

[2017-08-07 06:50] samalero opened #199 "Server crashed"
- [x] This issue isn't duplicated - you can check if it is by using the search bar located at the top left hand corner and select "Issues" on the left.
- [x] This issue includes appropriate markdown for sections - e.g. code blocks for crash dumps.
- [x] This issue is understandable - feel free to use your native language to write issues if you are not comfortable with English.

## Issue descriptio

[2017-08-08 09:43] kdurrance commented on #199
Crashing has occurred since build #363 on Jenkins

[2017-08-08 18:16] Sandertv commented on #195
@jasonwynn10 this happens when the entity is calling $this->isInsideOfWater() or $this->isInsideOfSolid() while already closed or dead.

[2017-08-08 18:17] Sandertv commented on #193
It loses level reference when it gets closed or when the entity dies, there should be a check for that.

[2017-08-08 22:47] achton commented on #199
I have this same error with the latest PMMP version: 1.6.2dev #378 [Protocol 113; API 3.0.0-ALPHA7]
I've compiled the plugin from the damage-reduction branch.

[2017-08-09 19:20] achton commented on #195
@jasonwynn10 I think you need to revise your last comment. `i686` is the correct identifier for 32-bit versions of Linux. `x86_64` actually means it's 64-bit :-)

[2017-08-21 00:01] optimusprime338 opened #200 "Enable per world"
- [x] This issue isn't duplicated - you can check if it is by using the search bar located at the top left hand corner and select "Issues" on the left.
- [x] This issue includes appropriate markdown for sections - e.g. code blocks for crash dumps.
- [x] This issue is understandable - feel free to use your native language to write issues if you are not comfortable with English.

## Issue descriptio

[2017-08-21 00:10] jasonwynn10 commented on #199
Should be fixed in latest commits

[2017-08-21 00:10] #199 closed

[2017-08-22 11:16] Moezilla opened #202 "PEX Build #103 cannot load with PMMP Build #1479 (456ddd3)"
- [x] This issue isn't duplicated - you can check if it is by using the search bar located at the top left hand corner and select "Issues" on the left.
- [x] This issue includes appropriate markdown for sections - e.g. code blocks for crash dumps.
- [x] This issue is understandable - feel free to use your native language to write issues if you are not comfortable with English.

## Issue descriptio

[2017-08-22 14:38] jasonwynn10 commented on #202
What was a very recent change. I have already started work on updating the plugin

[2017-08-23 09:17] Moezilla commented on #202
[Corrected and Closed]

[2017-08-23 09:17] #202 closed

[2017-08-24 17:08] cylinderStudio commented on #202
Great! Is there a new build/phar?

[2017-08-26 08:24] samalero opened #203 "Server crashed"
- [x] This issue isn't duplicated - you can check if it is by using the search bar located at the top left hand corner and select "Issues" on the left.
- [x] This issue includes appropriate markdown for sections - e.g. code blocks for crash dumps.
- [x] This issue is understandable - feel free to use your native language to write issues if you are not comfortable with English.

## Issue descriptio

[2017-08-26 08:26] samalero commented on #203
P,S.: The server is falling for the second time ...

[2017-08-26 12:09] jasonwynn10 commented on #203
This error makes no sense at all...

[2017-08-26 12:12] samalero commented on #203
but server stoping and crashed... and i dont know why...

[2017-08-27 00:05] thebigsmileXD opened #204 "1.2: unknown Level::addEntityMovement"
- [x] This issue isn't duplicated - you can check if it is by using the search bar located at the top left hand corner and select "Issues" on the left.
- [x] This issue includes appropriate markdown for sections - e.g. code blocks for crash dumps.
- [x] This issue is understandable - feel free to use your native language to write issues if you are not comfortable with English.

## Issue descriptio

[2017-08-27 00:28] jasonwynn10 commented on #204
well... It WAS a thing once

[2017-08-27 07:51] thebigsmileXD commented on #204
And in 1.2 its not

[2017-08-27 12:28] jasonwynn10 commented on #204
Im going to leave this one to @poggit-orphanage

[2017-08-29 10:06] teracube commented on #193
hi,
What is the date of the next release please. The players of my server look forward to it. thank you for this great plugin.
thanks
teracube

[2017-08-29 10:09] archie426 commented on #193
@teracube Please do not post off topic comments in issues.
I'm not exactly sure but I think you should just use the most recent builds you can

[2017-08-29 10:24] teracube commented on #193
@archie426
ok sorry for this off topic.
is this issue solved in poggit orphanage. fork ?
sorry for my bad english

[2017-08-30 15:07] HyperCoffee8142 opened #205 "Error: Declaration of Stray::getMaxHealth() must be compatible with Living::getMaxHealth(): int"
- [x] This issue isn't duplicated - you can check if it is by using the search bar located at the top left hand corner and select "Issues" on the left.
- [x] This issue includes appropriate markdown for sections - e.g. code blocks for crash dumps.
- [x] This issue is understandable - feel free to use your native language to write issues if you are not comfortable with English.

## Issue descriptio

[2017-08-31 23:28] NycuRO opened #206 "Hello hello"
Hello hello.

About this plugin, i like them and it's a very very good.

I can port them to Nukkit? 👍

[2017-09-01 00:10] jasonwynn10 commented on #206
I would recommend asking the developers at the new repo:
https://github.com/poggit-orphanage/PureEntitiesX

[2017-09-01 01:58] ZizzyZizzy opened #207 "BaseEntity public function attack changed in ALPHA7 PMMP"
- [x] This issue isn't duplicated - you can check if it is by using the search bar located at the top left hand corner and select "Issues" on the left.
- [x] This issue includes appropriate markdown for sections - e.g. code blocks for crash dumps.
- [x] This issue is understandable - feel free to use your native language to write issues if you are not comfortable with English.

The attack function

[2017-09-01 02:01] jasonwynn10 commented on #207
Passing to https://github.com/poggit-orphanage/PureEntitiesX

[2017-09-01 02:02] jasonwynn10 commented on #205
Passing to https://github.com/poggit-orphanage/PureEntitiesX

[2017-09-01 02:03] #207 closed

[2017-09-01 02:03] #205 closed

[2017-09-01 02:04] #204 closed

[2017-09-01 02:04] jasonwynn10 commented on #203
Passing to https://github.com/poggit-orphanage/PureEntitiesX

[2017-09-01 02:04] #203 closed

[2017-09-01 02:04] #206 closed

[2017-09-01 02:05] jasonwynn10 commented on #197
Passing to https://github.com/poggit-orphanage/PureEntitiesX

[2017-09-01 02:05] #197 closed

[2017-09-01 02:05] jasonwynn10 commented on #195
Passing to https://github.com/poggit-orphanage/PureEntitiesX

[2017-09-01 02:05] #195 closed

[2017-09-01 02:05] jasonwynn10 commented on #193
Passing to https://github.com/poggit-orphanage/PureEntitiesX

[2017-09-01 02:05] #193 closed

[2017-09-01 02:06] jasonwynn10 commented on #61
Passing to https://github.com/poggit-orphanage/PureEntitiesX

[2017-09-01 02:07] #161 closed

[2017-09-01 02:07] jasonwynn10 commented on #45
Passing to https://github.com/poggit-orphanage/PureEntitiesX

[2017-09-01 02:07] #45 closed

[2017-09-01 02:08] jasonwynn10 commented on #10
Passing to https://github.com/poggit-orphanage/PureEntitiesX

[2017-09-01 02:08] #10 closed

[2017-09-01 02:08] jasonwynn10 commented on #138
Passing to https://github.com/poggit-orphanage/PureEntitiesX

[2017-09-01 02:08] #138 closed

[2017-09-01 02:27] ZizzyZizzy commented on #207
Ugh, the source code has changed in the last 11 days again. BaseEntity.php doesn't even exist now.
Once I finish updating PHP to 7.2 for today's change, I'll test and comment here if it's still broken. (From what I see in today's PMMP source, the $damage var is gone from the declaration.)

[2017-09-01 09:43] NycuRO commented on #206
Yes, but this is official repo, need get this permission. If you want, i ask and them.

[2017-09-04 20:10] jasonwynn10 commented on #26
Closing due to inactivity

[2017-09-04 20:10] #26 closed

[2017-09-07 17:54] QuiverlyRivalry opened #208 "bug"
- [x] This issue isn't duplicated - you can check if it is by using the search bar located at the top left hand corner and select "Issues" on the left.
- [x] This issue includes appropriate markdown for sections - e.g. code blocks for crash dumps.
- [x] This issue is understandable - feel free to use your native language to write issues if you are not comfortable with English.

## Issue descriptio

[2017-09-07 19:13] Sandertv commented on #208
You're using an outdated PocketMine version. Please update to the latest version.

[2017-09-07 19:13] #208 closed

[2017-09-07 19:52] QuiverlyRivalry commented on #208
chscbsbcnsbc pmmp updates regurlary and my host every flipping month d\dbsn\bdbdnbd

[2017-09-11 10:12] mrvanes opened #209 "PocketMine-MP is at API 3.0.0-ALPHA7"
Recently installed a brand new PocketMine-MP server and tried to get PureEntitiesX working. It looks like there's an API mismatch. PureEntitiesX expects 3.0.0-ALPHA3, but PMMP is at 3.0.0-ALPHA7.
PMMP version: 1.7dev-26 (API 3.0.0-ALPHA7).
Getting PureEntitiesX from github (releases) brings the gap back down to 3.0.0-ALPHA5.

[2017-09-11 10:24] 95CivicSi commented on #209
The most recent commits have already brought the API version up to match 3.0.0-ALPHA7.  These updates are not reflected in the releases yet as there are other items being addressed.  You are welcome to try the latest commits by downloading a copy of the source from https://github.com/RevivalPMMP/PureEntitiesX and uploading it to plugins/PureEntitiesX in your PocketMine-MP server directory.  This w

[2017-09-11 10:24] #209 closed

[2017-09-11 13:00] mrvanes commented on #209
Thx for the tip. Installed DevTools and checked out PureEntitiesX and did a reload
[PureEntitiesX] You're Running PureEntitiesX v0.2.5-PM1.7dev2
Now it's up to my little man to see if this is any good ;)

[2017-09-11 13:38] mrvanes commented on #209
Hmm... PMMP stop responding (in start.sh console) to all commands after loading PureEntitiesX, including help.

[2017-09-11 14:20] jasonwynn10 commented on #209
maybe not enough allocated memory?

[2017-09-11 14:41] Magicode1 commented on #209
What are your specs?

[2017-09-11 16:07] mrvanes commented on #209
2G VM:
[code]

[2017-09-11 20:22] mrvanes commented on #209
Although I don't have any control in start.sh shell anymore... the server behaves completely normal, I just can't give any commands anymore?
[code]
The server does respond to stop, btw.
Also, the rcon server also still works, so I can manage the server nonetheless.

[2017-09-11 21:11] jasonwynn10 commented on #209
There is no reason the server would stop responding to commands just because of this plugin. Something else is going on...

[2017-09-12 06:01] mrvanes commented on #209
But without the plugin, everything works fine?

[2017-09-12 10:27] jasonwynn10 commented on #209
The only thing that I can say is new is that I moved the logger onto another thread, which still wouldn't effect commands not working

[2017-09-12 10:48] 95CivicSi opened #210 "Causes PocketMine-MP v1.7dev-26 "[REDACTED]" to stop accepting console commands."
This issue was initially reported by mrvanes in the comments of issue 209.

mrvanes, please provide the following information to help us recreate your problem.

OS used to run PocketMine-MP including any significant Version number (eg. Ubuntu 16.04, Windows 10, macOS 10.13).

How you installed PocketMine-MP (including any control panels or wrappers).

How you installed PureEntitesX,

Any other kno

[2017-09-12 10:51] 95CivicSi commented on #209
mrvanes, Please respond to issue 210 so we can properly track this problem.

[https://github.com/RevivalPMMP/PureEntitiesX/issues/210](url)

All other issues related to the console not responding after loading this version of PureEntitesX should be discussed on that issue.

[2017-09-12 11:22] mrvanes commented on #210
OS: ubuntu 16.04, fresh install from mini-iso, fully updated
PocketMine installed from
[code]
PHP 7.2RC1 built from (all requirements fullfilled, no compile errors)
[code]
After build, I moved the bin/php7 dir to pocketmine/bin/ dir, to replace existing php7 binary.
start.sh now works like a charm.
cd plugins/
[code]
restart the PM server
[code]
Now, DevTools and PureEntitiesX load but console is

[2017-09-12 11:48] 95CivicSi commented on #210
I have been able to confirm your problem.  It appears that console output for help (and possibly other commands) is being redirected to the PureEntitiesX log.  mrvanes if you type `stop` into the console, does the server stop?

[2017-09-12 12:01] 95CivicSi commented on #210
Also, check and see if this solves your problem.
[PureEntitiesX.zip](https://github.com/RevivalPMMP/PureEntitiesX/files/1295834/PureEntitiesX.zip)

 This is the plugin as it was at this commit:

[https://github.com/RevivalPMMP/PureEntitiesX/tree/35709a8433886ba2807032b6c49f21e0411f21a2](url)

[2017-09-12 14:47] mrvanes commented on #210
1. Yes, the server reacts to stop.
2. I can confirm the linked zip fixes the problem.

[2017-09-13 20:32] Sonnenwerk opened #211 "Server stops with plugin enabled at login from client."
- [x] This issue isn't duplicated - you can check if it is by using the search bar located at the top left hand corner and select "Issues" on the left.
- [x] This issue includes appropriate markdown for sections - e.g. code blocks for crash dumps.
- [x] This issue is understandable - feel free to use your native language to write issues if you are not comfortable with English.

## Issue descriptio

[2017-09-13 21:01] 95CivicSi commented on #211
Looks like the plugin is sending an empty packet when trying to spawn a creature.  I'll look into this soon.

Can you try the version I uploaded in the comments of this issue:

https://github.com/RevivalPMMP/PureEntitiesX/issues/210

[2017-09-14 02:07] jasonwynn10 commented on #211
No, the entities coordinates were null...
```2017-09-13 [20:20:01] [Server thread/CRITICAL]: TypeError: "Argument 1 passed to pocketmine\network\mcpe\protocol\DataPacket::putVector3f() must be of the type float, null given, called in phar:///home/s1229630/pocketmine/PocketMine-MP.phar/src/pocketmine/network/mcpe/protocol/AddEntityPacket.php on line 92" (EXCEPTION) in "src/pocketmine/network/mcpe/p

[2017-09-14 06:11] Sonnenwerk commented on #211
The #210 Version is working. I tried it this morning.

[2017-09-15 13:35] Emis02 opened #212 "lag and more"
this plugin tends to muddle the server at the despawn of the entities. giving the bones to the wolf the wolf gets married but does not collar and stays in infinity and there is no way to raise it. looking at the endermans nothing happens exactly what to beat them.

i have pmmp

[2017-09-15 13:36] Emis02 commented on #212
and all entities jump 2 block

[2017-09-15 13:54] 95CivicSi commented on #212
It's important to separate the problems you are having into separate issues if they are not related.  For instance, if the lag is not caused by giving a bone to the wolf, then lag and wolf loyalty issues are not related.  Please open separate issues for Wolf Loyalty, Enderman interactions, and Entity Jump height.
Please provide the following information to help us recreate your problem.

Version o

[2017-09-15 13:58] RubyTemple opened #213 "jump"
all entity jump 2 block.

i have pmmp
i have a standard config.yml

[2017-09-15 14:00] Emis02 opened #214 "lag"
this plugin tends to muddle the server at the despawn of the entities.

i have pmmp.

[2017-09-15 14:03] Emis02 opened #215 "the wolves are not tamed"
giving the wolves the bones the wolf is tame and rest resting them and no collar is given to him

[2017-09-15 14:04] RubyTemple opened #216 "enderman"
looking at the endermans nothing happens exactly what to beat them.

[2017-09-15 14:04] #212 closed

[2017-09-15 14:16] Emis02 opened #217 "i have an error"
i hadd this error when i put:
"_enabledworlds: - bw_"

 TypeError: "Return value of revivalpmmp\pureentities\PluginConfiguration::getInstance() must be an instance of revivalpmmp\pureentities\PluginConfiguration, null returned" (EXCEPTION) in "plugins/PureEntitiesX_dev-111.phar/src/revivalpmmp/pureentities/PluginConfiguration" at line 67

[2017-09-15 14:19] 95CivicSi commented on #213
Thank you for splitting the problems.  Please provide the following information to help us figure out what is happening.

Version of PocketMine-MP being used (eg. 1.62-dev360).

OS used to run PocketMine-MP including any significant Version number (eg. Ubuntu 16.04, Windows 10, macOS 10.13).

How you installed PocketMine-MP (including any control panels or wrappers).

How you installed PureEntites

[2017-09-15 14:50] 95CivicSi commented on #217
The enabledworlds option requires that you put a list of worlds inside square brackets.  Each world has to be separated by comma.  Example:

`enabledworlds: [world, lobby, myworld]`

You can leave this list empty if you want Mobs to spawn in all worlds.

`enabledworlds: []`

[2017-09-15 15:44] #217 closed

[2017-09-15 20:28] jasonwynn10 commented on #217
Another format would be:
[code]

[2017-09-15 20:32] jasonwynn10 commented on #213
Actually this is a known bug... all entities will jump as high as needed to reach where they want to go.

[2017-09-15 20:38] #215 closed

[2017-09-15 20:39] jasonwynn10 commented on #214
unspecific

[2017-09-15 21:18] Emis02 commented on #213
Core: PocketMine-MP 1.7dev alpha7
Os: Ubuntu 17
Pl: by Poggit
Config: standard

[2017-09-16 07:13] Emis02 opened #218 "Eggwars shop"
I put in the world eggwars the shop that are crawlers and the PureEntitiesX plugin has taken them all away

Config

enableworlds: [SF]

But the ew shop are in pizza world!

[2017-09-16 07:29] 95CivicSi commented on #218
Check the plugin and make sure this post is in the right area.  You said PureEssentialsX plugin in your post but this issue is listed under PureEntitiesX.

[2017-09-16 10:36] Emis02 commented on #218
Yes sorry pureessentialsx

[2017-09-16 10:36] Emis02 commented on #218
I have wrote badly

[2017-09-16 10:40] Emis02 commented on #218
How do I remove villagers From the action of this plugin?

[2017-09-16 17:22] 95CivicSi commented on #61
A nice TODO.
Updates to Wolf that fix sitting and collar in https://github.com/RevivalPMMP/PureEntitiesX/commit/f365102ededeecd0a5aae7804c6c27ff293a2a5d

[2017-09-23 13:53] teracube opened #221 "Error : WalkingAnimal WalkingMonster"
- [x] This issue isn't duplicated - you can check if it is by using the search bar located at the top left hand corner and select "Issues" on the left.
- [x] This issue includes appropriate markdown for sections - e.g. code blocks for crash dumps.
- [x] This issue is understandable - feel free to use your native language to write issues if you are not comfortable with English.

[code]
[code]

## R

[2017-09-23 14:35] teracube opened #222 "Error : Could not execute task revivalpmmp\pureentities\task\AutoSpawnTask"
- [x] This issue isn't duplicated - you can check if it is by using the search bar located at the top left hand corner and select "Issues" on the left.
- [x] This issue includes appropriate markdown for sections - e.g. code blocks for crash dumps.
- [x] This issue is understandable - feel free to use your native language to write issues if you are not comfortable with English.

[code]

Thanks

**U

[2017-09-23 14:40] teracube opened #223 "Error : Start block missed in BlockIterator"
- [x] This issue isn't duplicated - you can check if it is by using the search bar located at the top left hand corner and select "Issues" on the left.
- [x] This issue includes appropriate markdown for sections - e.g. code blocks for crash dumps.
- [x] This issue is understandable - feel free to use your native language to write issues if you are not comfortable with English.

[code]
Thanks

**Up

[2017-09-23 14:53] 95CivicSi commented on #222
This conflict appears to be caused by PiggyCustomEnchants being installed with PureEntitiesX.  We may not be able to resolve this.

[2017-09-23 15:59] jasonwynn10 commented on #222
Why was a PigProjectile set to be in a spawner...?

[2017-09-23 22:29] kenygamer opened #224 "PocketMine-MP support"
- [x] This issue isn't duplicated - you can check if it is by using the search bar located at the top left hand corner and select "Issues" on the left.
- [x] This issue includes appropriate markdown for sections - e.g. code blocks for crash dumps.
- [x] This issue is understandable - feel free to use your native language to write issues if you are not comfortable with English.

## Issue descriptio

[2017-09-24 00:40] 95CivicSi commented on #224
You haven't provided enough information to resolve your issue.  We need to know what version of PocketMine-MP you are using and any errors you get during startup.

For Reference:
![pureentitiesx verified](https://user-images.githubusercontent.com/3009473/30778271-6c0991ac-a09f-11e7-8e4d-92404cb3d463.png)

[2017-09-24 03:10] kenygamer commented on #224
Ok, now.

[2017-09-24 03:24] jasonwynn10 commented on #224
Are there any debug outputs or crash logs?

[2017-09-24 03:31] kenygamer commented on #224
@jasonwynn10 Give me 10 hours.

[2017-09-24 03:49] teracube commented on #222
@jasonwynn10
sorry i don't know what's happened
thanks

[2017-09-24 07:55] 95CivicSi commented on #224
Also, are the clients that  are connecting using Minecraft PE or Windows 10 edition that is a version before 1.2?

[2017-09-24 13:19] kenygamer commented on #224
@jasonwynn10 There are classes not found like `pocketmine\network/protocol/Info` instead of `pocketmine\network\mcpe\protocol\ProtocolInfo`

[2017-09-24 14:09] jasonwynn10 commented on #224
This repository doesn't support spoon use

[2017-09-24 18:18] kenygamer commented on #224
@jasonwynn10 I'm using the official PocketMine-MP.

[2017-09-24 19:00] bluetigeresw commented on #223
^ I'm have this issue as well... it'll spam it and then crash the server.

[2017-09-25 10:22] 95CivicSi commented on #222
Teracube, can you please test this version and see if it solves your problem.
[PureEntitiesX_v0.2.6-PM1.7dev65.zip](https://github.com/RevivalPMMP/PureEntitiesX/files/1329084/PureEntitiesX_v0.2.6-PM1.7dev65.zip)

[2017-09-25 10:25] 95CivicSi commented on #223
@bluetigeresw Please check and see if your problem is resolved with this version.

[PureEntitiesX_v0.2.6-PM1.7dev65.zip](https://github.com/RevivalPMMP/PureEntitiesX/files/1329094/PureEntitiesX_v0.2.6-PM1.7dev65.zip)

[2017-09-25 10:27] 95CivicSi commented on #224
@kenygamer Please check this version of the plugin and see if it solves your problem.
[PureEntitiesX_v0.2.6-PM1.7dev65.zip](https://github.com/RevivalPMMP/PureEntitiesX/files/1329100/PureEntitiesX_v0.2.6-PM1.7dev65.zip)

[2017-09-25 11:19] teracube commented on #222
@95CivicSi
thanks, i tried dev65.zip but problem not solved

2017-09-25 [13:10:35] [Server thread/CRITICAL]: Could not execute task revivalpmmp\pureentities\task\AutoSpawnTask: Argument 1 passed to pocketmine\network\mcpe\protocol\DataPacket::putVector3Obj() must be an instance of pocketmine\math\Vector3, null given, called in phar:///home/gsp_xxxx/gx.hmserv.eu-xxxxx/PocketMine-MP.phar/src/pocket

[2017-09-25 11:27] 95CivicSi commented on #222
Just to be sure, you deleted all of the original plugin files for PureEntitiesX, removed the updated PureEntitesX.phar file from the .zip file and uploaded it to your plugins folder?

[2017-09-25 11:31] 95CivicSi commented on #222
Also, when pasting in text from the console, please use the 'Insert Code' option.

![image](https://user-images.githubusercontent.com/3009473/30806365-829659f8-a1c3-11e7-80f8-eacbfe12b7a5.png)

[2017-09-25 11:35] teracube commented on #222
@95CivicSi

yes i deleted of the original plugin files for PureEntitiesX, removed the updated PureEntitesX.phar file from the .zip file and uploaded it to your plugins folder

thanks for past option

[2017-09-25 11:42] 95CivicSi commented on #222
Can you upload a copy of your server.log file please.

[2017-09-25 11:53] jasonwynn10 commented on #224
@kenygamer namespace issues don't come from using API 3.0.0-ALPHA8 of pmmp. They come from using spoons and old software

[2017-09-25 12:41] teracube commented on #222
@95CivicSi
find log files
[log.zip](https://github.com/RevivalPMMP/PureEntitiesX/files/1329418/log.zip)

[2017-09-25 12:51] 95CivicSi commented on #222
Ok. I'm going to try and recreate your problem. I should have more info tomorrow morning.

[2017-09-25 12:52] teracube commented on #222
thanks ;-)

[2017-09-26 05:56] bluetigeresw commented on #223
@95CivicSi yes, that problem is gone now....however, i'm now getting this error instead:
https://pastebin.com/83RftSxP

[2017-09-26 06:25] bluetigeresw opened #225 "XPOrb breaks "save-all" command"
- [x] This issue isn't duplicated - you can check if it is by using the search bar located at the top left hand corner and select "Issues" on the left.
- [x] This issue includes appropriate markdown for sections - e.g. code blocks for crash dumps.
- [x] This issue is understandable - feel free to use your native language to write issues if you are not comfortable with English.

## Issue descriptio

[2017-09-26 10:39] jasonwynn10 commented on #223
One error per report please

[2017-09-26 10:39] #223 closed

[2017-09-26 11:16] jasonwynn10 commented on #225
This is a known issue and has been attempted to be fixed multiple times. Xp can be disabled within the plugin config until this error is resolved

[2017-09-26 14:56] TDMidkwhatisxd opened #226 "getblock() on null"
- [x] This issue isn't duplicated - you can check if it is by using the search bar located at the top left hand corner and select "Issues" on the left.
- [x] This issue includes appropriate markdown for sections - e.g. code blocks for crash dumps.
- [x] This issue is understandable - feel free to use your native language to write issues if you are not comfortable with English.

## Issue descriptio

[2017-09-26 14:57] TDMidkwhatisxd commented on #226
what if you close/kill the mob is getblock is null?

[2017-09-26 15:00] TheDiamondYT1 commented on #224
@jasonwynn10 He is saying that the correct protocol namespace contains the `mcpe` directory where as this plugin does not, it include the old namespace. Apparently. I haven't checked.

[2017-09-26 15:19] jasonwynn10 commented on #224
I can assure you, this plugin utilizes only the new namespaces @TheDiamondYT1

[2017-09-26 15:22] #214 closed

[2017-09-26 15:39] TheDiamondYT1 commented on #224
oh then idfk what he's on about

[2017-09-26 17:05] bluetigeresw commented on #226
^ i had this issue a few days ago as well

[2017-09-26 19:03] bluetigeresw commented on #225
Alright, thanks

[2017-09-26 19:10] bluetigeresw opened #227 "EntityDeathEvent Error"
- [x] This issue isn't duplicated - you can check if it is by using the search bar located at the top left hand corner and select "Issues" on the left.
- [x] This issue includes appropriate markdown for sections - e.g. code blocks for crash dumps.
- [x] This issue is understandable - feel free to use your native language to write issues if you are not comfortable with English.

## Issue descriptio

[2017-09-26 19:31] 95CivicSi commented on #227
See if this update helps:

https://github.com/RevivalPMMP/PureEntitiesX/commit/2dc3e229746688c03c71bb521a2cede030e02b87

[2017-09-26 19:32] 95CivicSi commented on #222
This updates should help with most of the remaining problems similar to this.

https://github.com/RevivalPMMP/PureEntitiesX/commit/2dc3e229746688c03c71bb521a2cede030e02b87

[2017-09-26 21:18] teracube commented on #222
@95CivicSi
at the moment no problem with 2dc3e22 excepted conflict appears to be caused by PiggyCustomEnchants being installed with PureEntitiesX
`2017-09-26 [23:03:05] [Server thread/CRITICAL]: Could not execute task revivalpmmp\pureentities\task\AutoSpawnTask: Argument 1 passed to pocketmine\network\mcpe\protocol\DataPacket::putVector3Obj() must be an instance of pocketmine\math\Vector3, null g

[2017-09-26 22:31] #222 closed

[2017-09-26 22:32] 95CivicSi commented on #222
Issue closed as PiggyCustomEnchants doesn't currently support API 3.0.0-ALPHA8.

[2017-09-27 02:10] bluetigeresw opened #228 "Error: "Call to a member function getEntities() on null""
- [x] This issue isn't duplicated - you can check if it is by using the search bar located at the top left hand corner and select "Issues" on the left.
- [x] This issue includes appropriate markdown for sections - e.g. code blocks for crash dumps.
- [x] This issue is understandable - feel free to use your native language to write issues if you are not comfortable with English.

## Issue descriptio

[2017-09-27 02:12] bluetigeresw commented on #227
Yep, it seems to be fixed now! Thanks! <3

[2017-09-27 02:12] #227 closed

[2017-09-27 10:49] 95CivicSi commented on #228
I cannot duplicate this issue using commit https://github.com/RevivalPMMP/PureEntitiesX/commit/2dc3e229746688c03c71bb521a2cede030e02b87.  It appears that this happened when you (or someone else) started fighting a skeleton. Please update your plugin with the linked version and let us know if that changes anything.

[2017-09-27 11:31] 95CivicSi commented on #224
Information in the original post is lacking of significant information and appears to be incorrect.

Check your PHP version (update to 7.2 if necessary) and start a new issue if your problem persisits.

[2017-09-27 11:31] #224 closed

[2017-09-27 11:35] 95CivicSi commented on #210
This problem should be fixed with this update:

Commit: https://github.com/RevivalPMMP/PureEntitiesX/commit/88f66801031da34fca75372dfcfe11d3b13bc3c1

Newer Updates from the MCPE-1.2 branch should include this fix as well.

[2017-09-27 11:35] #210 closed

[2017-09-27 11:37] 95CivicSi commented on #211
This issue should be fixed with this update:

Commit: https://github.com/RevivalPMMP/PureEntitiesX/commit/2dc3e229746688c03c71bb521a2cede030e02b87

[2017-09-27 11:37] #211 closed

[2017-09-27 21:29] jasonwynn10 commented on #228
`Call to a member function getEntities() on null" (EXCEPTION) in "PureEntitiesX_dev-118.phar/src/revivalpmmp/pureentities/entity/BaseEntity" at line 436` is the issue here. I cannot reproduce however

[2017-09-28 00:14] kenygamer commented on #224
@95CivicSi Hello, I installed with the link you provided and my server with the plugin doesn’t respond to anything, except the `stop` command. Can you please fix this weird issue?
#
Best Regards,
/ Kevin Andrews

[2017-09-28 01:47] 95CivicSi commented on #224
@kenygamer What you are describing is different from the original issue.  The console response problem was reported in #210 and resolved with this commit:

https://github.com/RevivalPMMP/PureEntitiesX/commit/88f66801031da34fca75372dfcfe11d3b13bc3c1

[2017-09-28 15:17] nycu-backup opened #230 "bug FIX IT"
# FIX SHEEP COLOR

- [x] This issue isn't duplicated - you can check if it is by using the search bar located at the top left hand corner and select "Issues" on the left.
- [x] This issue includes appropriate markdown for sections - e.g. code blocks for crash dumps.
- [x] This issue is understandable - feel free to use your native language to write issues if you are not comfortable with English.

[2017-09-28 15:19] Sandertv commented on #230
Fix yourself first please Nycu, thank you.

[2017-09-28 15:20] nycu-backup commented on #230
i will fork this your just greedy profit hore sell plugins ... and fix myself

[2017-09-28 15:25] nycu-backup commented on #230
SPAM

[2017-09-28 15:25] nycu-backup commented on #230
SPAM

[2017-09-28 15:25] nycu-backup commented on #230
SPAM

[2017-09-28 15:25] nycu-backup commented on #230
SPAM

[2017-09-28 15:25] nycu-backup commented on #230
SPAM